# Data Preprocessing

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
import pickle

In [4]:
dataset = pd.read_csv('Dataset_TA.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749059 entries, 0 to 749058
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PosId   749059 non-null  int64
 1   gtx     749059 non-null  float64
 2   gty     749059 non-null  float64
 3   ap1x    749059 non-null  float64
 4   ap1y    749059 non-null  float64
 5   rtt1    749059 non-null  float64
 6   ap2x    749059 non-null  float64
 7   ap2y    749059 non-null  float64
 8   rtt2    749059 non-null  float64
 9   ap3x    749059 non-null  float64
 10  ap3y    749059 non-null  float64
 11  rtt3    749059 non-null  float64
 12  ap4x    749059 non-null  float64
 13  ap4y    749059 non-null  float64
 14  rtt4    749059 non-null  float64
 15  ap5x    749059 non-null  float64
 16  ap5y    749059 non-null  float64
 17  rtt5    749059 non-null  float64
 18  ap6x    749059 non-null  float64
 19  ap6y    749059 non-null  float64
 20  rtt6    749059 non-null  float64
dtypes: float64(20), int64(1)
memory usage: 120.0 MB

,PosId,gtx,gty,ap1x,ap1y,rtt1,ap2x,ap2y,rtt2,ap3x,...,rtt3,ap4x,ap4y,rtt4,ap5x,ap5y,rtt5,ap6x,ap6y,rtt6
0,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371429
1,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371428
2,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371429
3,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371428
4,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030873,-5.93,13.03,0.247991,3.34,10.26,0.371429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749054,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749055,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749056,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371828
749057,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827
749058,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827

In [5]:
rtt = dataset[['rtt1','rtt2','rtt3','rtt4','rtt5','rtt6']].to_numpy()
gt_coordinates_x = dataset['gtx'].to_numpy()
gt_coordinates_y = dataset['gty'].to_numpy()
pos_id = dataset['PosId'].to_numpy()
ap1x = dataset['ap1x'].to_numpy()
ap1y = dataset['ap1y'].to_numpy()
ap2x = dataset['ap2x'].to_numpy()
ap2y = dataset['ap2y'].to_numpy()
ap3x = dataset['ap3x'].to_numpy()
ap3y = dataset['ap3y'].to_numpy()
ap4x = dataset['ap4x'].to_numpy()
ap4y = dataset['ap4y'].to_numpy()
ap5x = dataset['ap5x'].to_numpy()
ap5y = dataset['ap5x'].to_numpy()
ap6x = dataset['ap6x'].to_numpy()
ap6y = dataset['ap6x'].to_numpy()

In [6]:
ground_truth = pd.DataFrame({'pos_id':pos_id,'x':gt_coordinates_x,'y':gt_coordinates_y})

In [7]:
ground_truth[(ground_truth['pos_id'] ==107)]

Empty DataFrame
Columns: [pos_id, x, y]
Index: []

In [8]:
ground_truth_drop_duplicate= ground_truth.drop_duplicates(['pos_id'])
ground_truth_drop_duplicate_numpy = ground_truth_drop_duplicate.to_numpy() 
coordinate_gt_df = ground_truth_drop_duplicate.iloc[:,1:]
coordinate_gt = coordinate_gt_df.to_numpy()
ground_truth_drop_duplicate
coordinate_gt_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

In [9]:
coordinate_gt[38]

array([-4.06, 20.48])

In [10]:
from sklearn.model_selection import train_test_split
X = rtt
y = pos_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 41)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
with open('posid_coordinates.pkl','rb') as pickle_file:
    ground_truth_duplicate = pickle.load(pickle_file)

In [11]:
with open('y_test.pkl','rb' ) as pickle_file:
    y_test = pickle.load(pickle_file)

In [12]:
with open('coordinate_gt.pkl','rb') as pickle_file:
    gt_coordinate = pickle.load(pickle_file)

In [12]:
gt_coordinate_df =  ground_truth_duplicate.iloc[:,1:]
gt_coordinate_df

NameError: name 'ground_truth_duplicate' is not defined

# knn

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2,weights='uniform')
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [11]:
y_pred_knn = knn.predict(X_test)

In [45]:
with open('41_y_pred_knn.pkl','wb') as pickle_file:
    pickle.dump(y_pred_knn,pickle_file)

#### error

In [12]:
percentage_knn = accuracy_score(y_test,y_pred_knn)
percentage_knn

0.9999933249672923

In [13]:
true_false_knn = y_pred_knn == y_test

In [14]:
comp_table_knn = pd.DataFrame({'y_pred_knn': y_pred_knn,'y_test': y_test,'true_false_knn': true_false_knn})

In [15]:
comp_table_knn[(comp_table_knn['true_false_knn'] == False)]

       y_pred_knn  y_test  true_false_knn
11167         272     265           False

In [56]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [66]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [67]:
#error distance
error_knn = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_knn

0.23086792761230387

In [68]:
#mean error in total
mean_error_knn = error_knn/len(y_test)
mean_error_knn

1.5410509679618714e-06

# random forrest

In [16]:
from sklearn.ensemble import RandomForestClassifier
Random_Forest = RandomForestClassifier(n_estimators = 10, criterion = 'gini')
Random_Forest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [17]:
y_pred_Random_Forest = Random_Forest.predict(X_test)

In [46]:
with open('41_y_pred_random_forest.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Random_Forest,pickle_file)

#### error

In [18]:
percentage_Random_Forest=accuracy_score(y_test, y_pred_Random_Forest)
percentage_Random_Forest

0.9999933249672923

In [19]:
true_false_random_forrest = y_pred_Random_Forest == y_test

In [20]:
comp_table_random_forrest = pd.DataFrame({'y_pred_random_forrest': y_pred_Random_Forest,'y_test': y_test,'true_false_random_forrest': true_false_random_forrest})
comp_table_random_forrest

        y_pred_random_forrest  y_test  true_false_random_forrest
0                         137     137                       True
1                         268     268                       True
2                         268     268                       True
3                         137     137                       True
4                         137     137                       True
...                       ...     ...                        ...
149807                    137     137                       True
149808                    137     137                       True
149809                    268     268                       True
149810                    268     268                       True
149811                    268     268                       True

[149812 rows x 3 columns]

In [21]:
comp_table_random_forrest[(comp_table_random_forrest['true_false_random_forrest'] == False)]

       y_pred_random_forrest  y_test  true_false_random_forrest
11167                    272     265                      False

In [56]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [66]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [71]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [70]:
#mean error in total
mean_error_random_forest = error_knn/len(y_test)
mean_error_random_forest

1.5410509679618714e-06

# decision tree

In [22]:
from sklearn.tree import DecisionTreeClassifier
Decision_Tree = DecisionTreeClassifier(criterion = 'gini')
Decision_Tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [23]:
y_pred_Decision_Tree = Decision_Tree.predict(X_test)

In [47]:
with open('41_y_pred_decision_tree.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Decision_Tree,pickle_file)

#### error

In [24]:
percentage_Decision_Tree=accuracy_score(y_test, y_pred_Decision_Tree)
percentage_Decision_Tree

0.9999933249672923

In [25]:
true_false_decision_tree = y_pred_Decision_Tree == y_test

In [26]:
comp_table_decision_tree = pd.DataFrame({'y_pred_decision_tree': y_pred_Decision_Tree,'y_test': y_test,'true_false_decision_tree': true_false_decision_tree})

In [27]:
comp_table_decision_tree[(comp_table_decision_tree['true_false_decision_tree'] == False)]

       y_pred_decision_tree  y_test  true_false_decision_tree
11167                   272     265                     False

In [56]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [66]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [71]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [103]:
#mean error in total
mean_error_random_forest = error_random_forest/len(y_test)
mean_error_random_forest

1.1811482030550993e-07

# naive bayes

In [28]:
from sklearn.naive_bayes import GaussianNB
Naive_Bayes= GaussianNB()
Naive_Bayes.fit(X_train, y_train)

GaussianNB()

In [29]:
y_pred_naive_bayes = Naive_Bayes.predict(X_test)

In [48]:
with open('41_y_pred_naive_bayes.pkl','wb') as pickle_file:
    pickle.dump(y_pred_naive_bayes,pickle_file)

#### error

In [30]:
percentage_naive_bayes=accuracy_score(y_test, y_pred_naive_bayes)
percentage_naive_bayes

0.9995928230048328

In [31]:
true_false_naive_bayes = y_pred_naive_bayes == y_test
true_false_naive_bayes

array([ True,  True,  True, ...,  True,  True,  True])

In [32]:
comp_table_naive_bayes = pd.DataFrame({'y_pred_naive_bayes': y_pred_naive_bayes,'y_test': y_test,'true_false_naive_bayes': true_false_naive_bayes})

In [33]:
comp_table_naive_bayes = comp_table_naive_bayes[(comp_table_naive_bayes['true_false_naive_bayes'] == False)]
comp_table_naive_bayes

        y_pred_naive_bayes  y_test  true_false_naive_bayes
479                    268     267                   False
1338                   268     267                   False
9461                   268     267                   False
11167                  272     265                   False
12236                  268     267                   False
...                    ...     ...                     ...
144752                 268     267                   False
145780                 268     267                   False
146228                 268     267                   False
146286                 268     267                   False
149235                 268     267                   False

[61 rows x 3 columns]

In [34]:
comp_table_naive_bayes.drop_duplicates(['y_pred_naive_bayes','y_test'])

       y_pred_naive_bayes  y_test  true_false_naive_bayes
479                   268     267                   False
11167                 272     265                   False

In [35]:
diffs_naive_bayes = comp_table_naive_bayes.pivot_table(index= ['y_pred_naive_bayes', 'y_test'], aggfunc='size')
print(diffs_naive_bayes)

y_pred_naive_bayes  y_test
268                 267       60
272                 265        1
dtype: int64

In [31]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 108)]

       pos_id    x      y
33251     108 -2.5  21.59

In [39]:
ground_truth_drop_duplicate_numpy[258]

array([261.  ,   0.88,   5.07])

In [99]:
#error distance
error_naive_bayes =(
                (60*distance.euclidean(coordinate_gt[265],coordinate_gt[264])) +
                 distance.euclidean(coordinate_gt[269],coordinate_gt[262])
                    )
mean_false_naive_bayes = error_naive_bayes/len(comp_table_naive_bayes)
mean_false_naive_bayes

0.017695017459609053

In [101]:
#mean error in total
mean_error_naive_bayes= error_naive_bayes/len(y_test)
mean_error_naive_bayes

7.205004038636106e-06

# svm

In [36]:
from sklearn.svm import SVC
SVM = SVC(kernel = 'linear')
SVM.fit(X_train, y_train)

SVC(kernel='linear')

In [37]:
y_pred_SVM = SVM.predict(X_test)

In [13]:
with open('41_y_pred_svm.pkl','rb' ) as pickle_file:
    y_pred_SVM = pickle.load(pickle_file)

#### error

In [14]:
percentage_SVM=accuracy_score(y_test, y_pred_SVM)
percentage_SVM

0.9590019491095506

In [15]:
true_false_svm = y_pred_SVM == y_test
type(true_false_svm)

numpy.ndarray

In [16]:
comp_table_SVM = pd.DataFrame({'y_pred_svm': y_pred_SVM,'y_test': y_test,'true_false_svm': true_false_svm})

In [17]:
comp_table_SVM_false=comp_table_SVM[(comp_table_SVM['true_false_svm'] == False)]

In [18]:
comp_table_SVM_false
len(comp_table_SVM_false)

6142

In [20]:
comp_table_SVM_false.drop_duplicates(['y_pred_svm','y_test'])

        y_pred_svm  y_test  true_false_svm
39             110     120           False
48             268     267           False
73             267     268           False
78             233     227           False
172            196     213           False
...            ...     ...             ...
124925          70      74           False
126384         313     309           False
127330           7       9           False
145758         163     162           False
147143         296     299           False

[249 rows x 3 columns]

In [21]:
diffs_svm = comp_table_SVM_false.pivot_table(index= ['y_pred_svm', 'y_test'], aggfunc='size')
pd.set_option('display.max_rows', None)
diffs_svm

y_pred_svm  y_test
3           1           15
            2            1
            4            2
            6           15
7           2           25
            5            5
            9            1
10          8           10
11          9            1
13          11          69
            15           5
14          10          15
            12          14
            16          11
19          17           6
            21          11
            23           1
20          18           4
            22           2
27          24           8
            29           1
28          25           5
            26          42
            30           3
31          29           5
            33           6
            35           2
34          32           5
            37           3
38          35          16
            41           9
40          37           9
            65           3
43          39           3
            50          13
47          45           5
            49           1
48          52          56
51          49           5
            58           4
54          56          11
            60           9
57          46          17
            55           8
59          61           5
62          56           3
            64           9
63          53           3
            68           4
69          66           1
            71          17
            76          27
70          68          13
            74           2
72          67           4
            78           5
73          65           6
            79           2
75          74           2
            77           6
76          81           2
            91           5
80          77           3
            83           1
82          85          64
84          78           3
            93           2
            99           4
86          95           6
89          87           2
            88           7
90          88          11
            92           5
            94          11
97          95           6
            101          6
100         98           7
            104          8
102         91          12
            96          13
105         101          1
            111          2
108         103         11
            112          2
110         106          2
            120          4
113         109         10
            115          5
            123          5
116         114         10
            121         11
117         111          1
            127         12
            138          2
118         114          6
            124          5
122         121          8
            125         10
126         119         14
128         125          1
            130         14
129         120          2
            140          9
            149         22
131         124          4
            135          8
133         132          7
            136         48
134         126         39
            147         17
142         146          5
143         139         13
            144          7
            148         16
151         146         10
153         148         17
            152          7
            154          5
155         159          4
156         154          8
            161         16
163         162          1
165         162          4
            167          4
166         159          5
            164          6
168         158         12
            160         30
            179          6
170         171         15
            176          1
172         175          8
174         167          5
            173         18
177         186         10
178         160         11
            169         10
            183         12
180         176          4
            188         10
181         150          6
187         157          9
189         183          4
            184         13
            191          6
190         188          8
            194         11
192         185         10
            202          3
196         181         44
            206          3
            213         20
197         193          7
            199         32
            201         38
198         208          2
200         194          6
            207         41
201         203         16
            204         12
205         195          4
            215         11
211         202          9
            220          6
212         209         11
            217         17
            223         23
214         210         37
            224         17
            238          4
216         208          3
            228          3
221         225          3
222         229         11
            239          1
226         215          4
231         213         15
            219         12
            242          5
232         230          7
            236          3
233         223         14
            227          8
            235          3
234         220         14
241         228          5
            246          4
244         242          7
            249          8
247         255          9
248         254          2
251         246         10
            250          6
253         243         12
256         245         20
            252          7
            259          9
257         254          4
            262          8
258         255          4
            264          9
260         253         56
            265          1
261         259          7
263         261          2
            266         11
267         268       1568
268         267       2133
269         271          7
270         262         14
            274         53
272         279          1
273         278         12
274         275          2
276         271          5
            281          7
277         275          1
            280          5
282         286          5
284         279          7
            290          6
285         281          9
            288          1
287         283         44
            291         10
289         286          3
293         292         10
            294         10
295         297          5
296         290          5
            299          1
298         297          2
            300         10
301         303          8
304         302          6
            305         28
            307          7
306         303          3
            308          4
310         308          1
            312          1
311         309          8
313         309          2
            311         46
            315         10
314         312          7
            316          1
317         315          8
            316          8
dtype: int64

In [22]:
ground_truth_drop_duplicate_numpy[276]

array([279.  ,   1.44,   5.14])

In [27]:
error_svm=(
    # 3
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[0])) +
                (1*distance.euclidean(coordinate_gt[2],coordinate_gt[1])) +
                (2*distance.euclidean(coordinate_gt[2],coordinate_gt[3])) +
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[5])) +
    #7
                (25*distance.euclidean(coordinate_gt[6],coordinate_gt[1])) +
                (5*distance.euclidean(coordinate_gt[6],coordinate_gt[4])) +
                (1*distance.euclidean(coordinate_gt[6],coordinate_gt[8])) +
    #10
                (10*distance.euclidean(coordinate_gt[9],coordinate_gt[7])) +
    #11
                (1*distance.euclidean(coordinate_gt[10],coordinate_gt[8])) +
    #13
                (69*distance.euclidean(coordinate_gt[12],coordinate_gt[10])) +
                (5*distance.euclidean(coordinate_gt[12],coordinate_gt[14])) +
    #14
                (15*distance.euclidean(coordinate_gt[13],coordinate_gt[9])) +
                (14*distance.euclidean(coordinate_gt[13],coordinate_gt[11])) +
                (11*distance.euclidean(coordinate_gt[13],coordinate_gt[15])) +
    #19 
                (6*distance.euclidean(coordinate_gt[18],coordinate_gt[16])) +
                (11*distance.euclidean(coordinate_gt[18],coordinate_gt[20])) +
                (1*distance.euclidean(coordinate_gt[18],coordinate_gt[22])) +
    #20
                (4*distance.euclidean(coordinate_gt[19],coordinate_gt[18])) +
    #27
                (1*distance.euclidean(coordinate_gt[26],coordinate_gt[28])) +
                (8*distance.euclidean(coordinate_gt[26],coordinate_gt[30])) +
    #28
                (5*distance.euclidean(coordinate_gt[27],coordinate_gt[24])) +
                (42*distance.euclidean(coordinate_gt[27],coordinate_gt[25])) +
                (3*distance.euclidean(coordinate_gt[27],coordinate_gt[29])) +
    #31
                (5*distance.euclidean(coordinate_gt[30],coordinate_gt[28])) +
                (6*distance.euclidean(coordinate_gt[30],coordinate_gt[32])) +
                (2*distance.euclidean(coordinate_gt[30],coordinate_gt[34])) +
    #34
                (5*distance.euclidean(coordinate_gt[33],coordinate_gt[31])) +
                (3*distance.euclidean(coordinate_gt[33],coordinate_gt[36])) +
    #38
                (16*distance.euclidean(coordinate_gt[37],coordinate_gt[34])) +
                (9*distance.euclidean(coordinate_gt[37],coordinate_gt[40])) +
    #40
                (9*distance.euclidean(coordinate_gt[39],coordinate_gt[36])) +
                (3*distance.euclidean(coordinate_gt[39],coordinate_gt[64])) +
    #43 
                (3*distance.euclidean(coordinate_gt[42],coordinate_gt[38])) +
                (13*distance.euclidean(coordinate_gt[42],coordinate_gt[49])) +
    #47
                (5*distance.euclidean(coordinate_gt[46],coordinate_gt[44])) +
                (1*distance.euclidean(coordinate_gt[46],coordinate_gt[48])) +
    #48
                (56*distance.euclidean(coordinate_gt[47],coordinate_gt[51])) +
    #51
                (5*distance.euclidean(coordinate_gt[50],coordinate_gt[48])) +
                (4*distance.euclidean(coordinate_gt[50],coordinate_gt[57])) +
    #54
                (11*distance.euclidean(coordinate_gt[53],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[53],coordinate_gt[59])) +
    #57
                (17*distance.euclidean(coordinate_gt[56],coordinate_gt[45])) +
                (8*distance.euclidean(coordinate_gt[56],coordinate_gt[54])) +
    #59
                (5*distance.euclidean(coordinate_gt[58],coordinate_gt[60])) +
    #62
                (3*distance.euclidean(coordinate_gt[61],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[61],coordinate_gt[64])) +
    #63
                (3*distance.euclidean(coordinate_gt[62],coordinate_gt[52])) +
                (4*distance.euclidean(coordinate_gt[62],coordinate_gt[67])) +
    #69
                (1*distance.euclidean(coordinate_gt[68],coordinate_gt[65])) +
                (17*distance.euclidean(coordinate_gt[68],coordinate_gt[70])) +
                (27*distance.euclidean(coordinate_gt[68],coordinate_gt[75])) +
    #70
                (13*distance.euclidean(coordinate_gt[69],coordinate_gt[67])) +
                (2*distance.euclidean(coordinate_gt[69],coordinate_gt[73])) +
    #72
                (4*distance.euclidean(coordinate_gt[71],coordinate_gt[66])) +
                (5*distance.euclidean(coordinate_gt[71],coordinate_gt[77])) +
    #73
                (6*distance.euclidean(coordinate_gt[72],coordinate_gt[64])) +
                (2*distance.euclidean(coordinate_gt[72],coordinate_gt[78])) +
    #75
                (6*distance.euclidean(coordinate_gt[74],coordinate_gt[76])) +
                (2*distance.euclidean(coordinate_gt[74],coordinate_gt[73])) +
    #76
                (2*distance.euclidean(coordinate_gt[75],coordinate_gt[80])) +
                (5*distance.euclidean(coordinate_gt[75],coordinate_gt[90])) +
    #80
                (3*distance.euclidean(coordinate_gt[79],coordinate_gt[3])) +
                (1*distance.euclidean(coordinate_gt[79],coordinate_gt[82])) +
    #82
                (64*distance.euclidean(coordinate_gt[81],coordinate_gt[84])) +
    #84 
                (3*distance.euclidean(coordinate_gt[83],coordinate_gt[77])) +
                (2*distance.euclidean(coordinate_gt[93],coordinate_gt[83])) +
                (4*distance.euclidean(coordinate_gt[83],coordinate_gt[98])) +
    #86
                (6*distance.euclidean(coordinate_gt[85],coordinate_gt[94])) +
    #89
                (2*distance.euclidean(coordinate_gt[88],coordinate_gt[86])) +
                (7*distance.euclidean(coordinate_gt[88],coordinate_gt[87])) +
    #90 
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[87])) +
                (5*distance.euclidean(coordinate_gt[89],coordinate_gt[91])) +
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[93])) +
    #97
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[94]))+
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[100]))+
    #100
                (7*distance.euclidean(coordinate_gt[99],coordinate_gt[97]))+
                (8*distance.euclidean(coordinate_gt[99],coordinate_gt[103]))+
    #102
                (12*distance.euclidean(coordinate_gt[101],coordinate_gt[90]))+
                (13*distance.euclidean(coordinate_gt[101],coordinate_gt[95]))+
    #105
                (1*distance.euclidean(coordinate_gt[104],coordinate_gt[100]))+
                (2*distance.euclidean(coordinate_gt[104],coordinate_gt[110]))+
    #108
                (11*distance.euclidean(coordinate_gt[106],coordinate_gt[102]))+
                (2*distance.euclidean(coordinate_gt[106],coordinate_gt[110]))+
    #110
                (2*distance.euclidean(coordinate_gt[108],coordinate_gt[105]))+
                (4*distance.euclidean(coordinate_gt[108],coordinate_gt[118]))+
    #113
                (10*distance.euclidean(coordinate_gt[111],coordinate_gt[107]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[113]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[121]))+
    #116
                (10*distance.euclidean(coordinate_gt[114],coordinate_gt[112]))+
                (11*distance.euclidean(coordinate_gt[114],coordinate_gt[119]))+
    #117
                (1*distance.euclidean(coordinate_gt[115],coordinate_gt[109]))+
                (12*distance.euclidean(coordinate_gt[115],coordinate_gt[125]))+
                (2*distance.euclidean(coordinate_gt[115],coordinate_gt[136]))+
    #118
                (6*distance.euclidean(coordinate_gt[116],coordinate_gt[112]))+
                (5*distance.euclidean(coordinate_gt[116],coordinate_gt[122]))+
    #122
                (8*distance.euclidean(coordinate_gt[120],coordinate_gt[119]))+
                (10*distance.euclidean(coordinate_gt[120],coordinate_gt[123]))+
    #126
                (14*distance.euclidean(coordinate_gt[124],coordinate_gt[117]))+
    #128
                (14*distance.euclidean(coordinate_gt[126],coordinate_gt[128]))+
                (1*distance.euclidean(coordinate_gt[126],coordinate_gt[123]))+
                
    #129
                (2*distance.euclidean(coordinate_gt[127],coordinate_gt[118]))+
                (9*distance.euclidean(coordinate_gt[127],coordinate_gt[148]))+
                (22*distance.euclidean(coordinate_gt[127],coordinate_gt[147]))+
    #131
                (4*distance.euclidean(coordinate_gt[129],coordinate_gt[122]))+
                (8*distance.euclidean(coordinate_gt[129],coordinate_gt[133]))+
    #133
                (7*distance.euclidean(coordinate_gt[131],coordinate_gt[130]))+
                (48*distance.euclidean(coordinate_gt[131],coordinate_gt[134]))+
    #134
                (39*distance.euclidean(coordinate_gt[132],coordinate_gt[124]))+
                (17*distance.euclidean(coordinate_gt[132],coordinate_gt[145]))+
    #142
                (5*distance.euclidean(coordinate_gt[140],coordinate_gt[144]))+
    #143
                (13*distance.euclidean(coordinate_gt[141],coordinate_gt[137]))+
                (7*distance.euclidean(coordinate_gt[141],coordinate_gt[142]))+
                (16*distance.euclidean(coordinate_gt[141],coordinate_gt[146]))+
    #151
                (10*distance.euclidean(coordinate_gt[149],coordinate_gt[144]))+
    #153
                (17*distance.euclidean(coordinate_gt[151],coordinate_gt[146]))+
                (7*distance.euclidean(coordinate_gt[151],coordinate_gt[150]))+
                (5*distance.euclidean(coordinate_gt[151],coordinate_gt[152]))+
    #155
                (4*distance.euclidean(coordinate_gt[153],coordinate_gt[157]))+
    #156
                (8*distance.euclidean(coordinate_gt[154],coordinate_gt[152]))+
                (16*distance.euclidean(coordinate_gt[154],coordinate_gt[159]))+
    #163
                (1*distance.euclidean(coordinate_gt[161],coordinate_gt[160]))+
    #165
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[160]))+
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[165]))+
    #166
                (5*distance.euclidean(coordinate_gt[164],coordinate_gt[157]))+
                (6*distance.euclidean(coordinate_gt[164],coordinate_gt[162]))+
    #168
                (12*distance.euclidean(coordinate_gt[166],coordinate_gt[156]))+
                (30*distance.euclidean(coordinate_gt[166],coordinate_gt[158]))+
                (6*distance.euclidean(coordinate_gt[166],coordinate_gt[177]))+
    #170
                (15*distance.euclidean(coordinate_gt[168],coordinate_gt[169]))+
                (1*distance.euclidean(coordinate_gt[168],coordinate_gt[174]))+
    #172
                (8*distance.euclidean(coordinate_gt[170],coordinate_gt[173]))+
    #174
                (5*distance.euclidean(coordinate_gt[172],coordinate_gt[165]))+
                (18*distance.euclidean(coordinate_gt[172],coordinate_gt[171]))+
    #177
                (10*distance.euclidean(coordinate_gt[175],coordinate_gt[184]))+
    #178
                (11*distance.euclidean(coordinate_gt[176],coordinate_gt[158]))+
                (10*distance.euclidean(coordinate_gt[176],coordinate_gt[167]))+
                (12*distance.euclidean(coordinate_gt[176],coordinate_gt[181]))+
    #180
                (4*distance.euclidean(coordinate_gt[178],coordinate_gt[174]))+
                (10*distance.euclidean(coordinate_gt[178],coordinate_gt[186]))+
    #181
                (6*distance.euclidean(coordinate_gt[179],coordinate_gt[148]))+
    #187
                (9*distance.euclidean(coordinate_gt[185],coordinate_gt[155]))+
    #189
                (4*distance.euclidean(coordinate_gt[187],coordinate_gt[181]))+
                (13*distance.euclidean(coordinate_gt[187],coordinate_gt[182]))+
                (6*distance.euclidean(coordinate_gt[187],coordinate_gt[189]))+
    #190 
                (8*distance.euclidean(coordinate_gt[188],coordinate_gt[186]))+
                (11*distance.euclidean(coordinate_gt[188],coordinate_gt[192]))+
    #192
                (10*distance.euclidean(coordinate_gt[190],coordinate_gt[183]))+
                (3*distance.euclidean(coordinate_gt[190],coordinate_gt[200]))+
    #196
                (44*distance.euclidean(coordinate_gt[194],coordinate_gt[179]))+
                (3*distance.euclidean(coordinate_gt[194],coordinate_gt[204]))+
                (20*distance.euclidean(coordinate_gt[164],coordinate_gt[211]))+
    #197
                (7*distance.euclidean(coordinate_gt[195],coordinate_gt[191]))+
                (32*distance.euclidean(coordinate_gt[195],coordinate_gt[197]))+
                (38*distance.euclidean(coordinate_gt[195],coordinate_gt[199]))+
    #198 
                (2*distance.euclidean(coordinate_gt[196],coordinate_gt[206]))+
    #200
                (6*distance.euclidean(coordinate_gt[192],coordinate_gt[198]))+
                (41*distance.euclidean(coordinate_gt[198],coordinate_gt[205]))+
                
    #201
                (16*distance.euclidean(coordinate_gt[199],coordinate_gt[201]))+
                (12*distance.euclidean(coordinate_gt[199],coordinate_gt[202]))+
    #205
                (4*distance.euclidean(coordinate_gt[203],coordinate_gt[193]))+
                (11*distance.euclidean(coordinate_gt[203],coordinate_gt[213]))+
    #211
                (9*distance.euclidean(coordinate_gt[209],coordinate_gt[200]))+
                (6*distance.euclidean(coordinate_gt[209],coordinate_gt[218]))+
    #212
                (11*distance.euclidean(coordinate_gt[210],coordinate_gt[207]))+
                (17*distance.euclidean(coordinate_gt[210],coordinate_gt[215]))+
                (23*distance.euclidean(coordinate_gt[210],coordinate_gt[221]))+
    #214
                (37*distance.euclidean(coordinate_gt[212],coordinate_gt[208]))+
                (17*distance.euclidean(coordinate_gt[212],coordinate_gt[222]))+
                (4*distance.euclidean(coordinate_gt[212],coordinate_gt[236]))+
    #216
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[206]))+
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[226]))+
    #221
                (3*distance.euclidean(coordinate_gt[219],coordinate_gt[223]))+
    #222
                (11*distance.euclidean(coordinate_gt[220],coordinate_gt[227]))+
                (1*distance.euclidean(coordinate_gt[220],coordinate_gt[237]))+
    #226
                (4*distance.euclidean(coordinate_gt[224],coordinate_gt[213]))+
    #231
                (15*distance.euclidean(coordinate_gt[229],coordinate_gt[211]))+
                (12*distance.euclidean(coordinate_gt[229],coordinate_gt[217]))+
                (5*distance.euclidean(coordinate_gt[229],coordinate_gt[239]))+
    #232
                (7*distance.euclidean(coordinate_gt[230],coordinate_gt[228]))+
                (3*distance.euclidean(coordinate_gt[230],coordinate_gt[234]))+
    #233
                (14*distance.euclidean(coordinate_gt[231],coordinate_gt[221]))+
                (8*distance.euclidean(coordinate_gt[231],coordinate_gt[225]))+
                (3*distance.euclidean(coordinate_gt[231],coordinate_gt[233]))+
    #234
                (14*distance.euclidean(coordinate_gt[232],coordinate_gt[218]))+
    #241
                (5*distance.euclidean(coordinate_gt[238],coordinate_gt[226]))+
                (4*distance.euclidean(coordinate_gt[219],coordinate_gt[243]))+
    #244
                (7*distance.euclidean(coordinate_gt[241],coordinate_gt[239]))+
                (8*distance.euclidean(coordinate_gt[241],coordinate_gt[246]))+
    #247
                (9*distance.euclidean(coordinate_gt[243],coordinate_gt[252]))+
    #248
                (2*distance.euclidean(coordinate_gt[245],coordinate_gt[251]))+
    #251
                (10*distance.euclidean(coordinate_gt[248],coordinate_gt[243]))+
                (6*distance.euclidean(coordinate_gt[248],coordinate_gt[247]))+
    #253
                (12*distance.euclidean(coordinate_gt[250],coordinate_gt[240]))+
    #256
                (20*distance.euclidean(coordinate_gt[253],coordinate_gt[242]))+
                (7*distance.euclidean(coordinate_gt[253],coordinate_gt[249]))+
                (9*distance.euclidean(coordinate_gt[253],coordinate_gt[256]))+
    #257
                (4*distance.euclidean(coordinate_gt[254],coordinate_gt[251]))+
                (8*distance.euclidean(coordinate_gt[254],coordinate_gt[259]))+
    #258
                (4*distance.euclidean(coordinate_gt[255],coordinate_gt[252]))+
                (9*distance.euclidean(coordinate_gt[255],coordinate_gt[261]))+
    #260
                (56*distance.euclidean(coordinate_gt[257],coordinate_gt[250]))+
                (1*distance.euclidean(coordinate_gt[257],coordinate_gt[262]))+
    #261
                (7*distance.euclidean(coordinate_gt[258],coordinate_gt[256]))+
    #263
                (11*distance.euclidean(coordinate_gt[260],coordinate_gt[263]))+
                (2*distance.euclidean(coordinate_gt[260],coordinate_gt[258]))+
    #267
                (1568*distance.euclidean(coordinate_gt[264],coordinate_gt[265]))+
    #268
                (2133*distance.euclidean(coordinate_gt[265],coordinate_gt[264]))+
    #269
                (7*distance.euclidean(coordinate_gt[266],coordinate_gt[268]))+
    #270
                (14*distance.euclidean(coordinate_gt[267],coordinate_gt[259]))+
                (53*distance.euclidean(coordinate_gt[267],coordinate_gt[271]))+
    #272
                (1*distance.euclidean(coordinate_gt[269],coordinate_gt[276]))+
    #273
                (12*distance.euclidean(coordinate_gt[270],coordinate_gt[275]))+
    #274
                (2*distance.euclidean(coordinate_gt[271],coordinate_gt[272]))+
    #276
                (5*distance.euclidean(coordinate_gt[273],coordinate_gt[268]))+
                (7*distance.euclidean(coordinate_gt[273],coordinate_gt[279]))+
    #277
                (1*distance.euclidean(coordinate_gt[274],coordinate_gt[272]))+
                (5*distance.euclidean(coordinate_gt[274],coordinate_gt[277]))+
    #282
                (5*distance.euclidean(coordinate_gt[279],coordinate_gt[283]))+
    #284
                (7*distance.euclidean(coordinate_gt[281],coordinate_gt[277]))+
                (6*distance.euclidean(coordinate_gt[281],coordinate_gt[287])) +
    #285
                (9*distance.euclidean(coordinate_gt[283],coordinate_gt[278])) +
                (1*distance.euclidean(coordinate_gt[283],coordinate_gt[285])) +
    #287
                (44*distance.euclidean(coordinate_gt[285],coordinate_gt[280])) +
                (10*distance.euclidean(coordinate_gt[285],coordinate_gt[288])) +
    #289
                (3*distance.euclidean(coordinate_gt[286],coordinate_gt[283])) +
    #293
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[289])) +
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[291])) +
    #295
                (5*distance.euclidean(coordinate_gt[292],coordinate_gt[294])) +
    #296
                (5*distance.euclidean(coordinate_gt[293],coordinate_gt[287])) +
                (1*distance.euclidean(coordinate_gt[293],coordinate_gt[296])) +
    #298
                (2*distance.euclidean(coordinate_gt[295],coordinate_gt[294])) +
                (10*distance.euclidean(coordinate_gt[295],coordinate_gt[297])) +
    #301
                (8*distance.euclidean(coordinate_gt[298],coordinate_gt[300])) +
    #304 
                (6*distance.euclidean(coordinate_gt[301],coordinate_gt[299])) +
                (28*distance.euclidean(coordinate_gt[301],coordinate_gt[302])) +
                (7*distance.euclidean(coordinate_gt[301],coordinate_gt[304])) +
    #306
                (3*distance.euclidean(coordinate_gt[303],coordinate_gt[300])) +
                (4*distance.euclidean(coordinate_gt[303],coordinate_gt[305])) +
    #310
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[305])) +
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[309])) +
    #311
                (8*distance.euclidean(coordinate_gt[309],coordinate_gt[306])) +
    #313
                (2*distance.euclidean(coordinate_gt[310],coordinate_gt[306])) +
                (46*distance.euclidean(coordinate_gt[310],coordinate_gt[308])) +
                (10*distance.euclidean(coordinate_gt[310],coordinate_gt[312])) +
    #314
                (7*distance.euclidean(coordinate_gt[311],coordinate_gt[309])) +
                (1*distance.euclidean(coordinate_gt[311],coordinate_gt[313])) +
    #317
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[312])) +
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[313])) 
                )
            
                
mean_false_svm = error_svm/len(comp_table_SVM_false)
mean_false_svm,error_svm

(0.25550892080333804, 1569.3357915741024)

In [26]:
#mean error in total 
mean_error_svm = error_svm/len(y_test)
mean_error_svm

0.010475367738059049