In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
import pickle

In [2]:
dataset = pd.read_csv('Dataset_TA.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749059 entries, 0 to 749058
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PosId   749059 non-null  int64
 1   gtx     749059 non-null  float64
 2   gty     749059 non-null  float64
 3   ap1x    749059 non-null  float64
 4   ap1y    749059 non-null  float64
 5   rtt1    749059 non-null  float64
 6   ap2x    749059 non-null  float64
 7   ap2y    749059 non-null  float64
 8   rtt2    749059 non-null  float64
 9   ap3x    749059 non-null  float64
 10  ap3y    749059 non-null  float64
 11  rtt3    749059 non-null  float64
 12  ap4x    749059 non-null  float64
 13  ap4y    749059 non-null  float64
 14  rtt4    749059 non-null  float64
 15  ap5x    749059 non-null  float64
 16  ap5y    749059 non-null  float64
 17  rtt5    749059 non-null  float64
 18  ap6x    749059 non-null  float64
 19  ap6y    749059 non-null  float64
 20  rtt6    749059 non-null  float64
dtypes: float64(20), int64(1)
memory usage: 120.0 MB

,PosId,gtx,gty,ap1x,ap1y,rtt1,ap2x,ap2y,rtt2,ap3x,...,rtt3,ap4x,ap4y,rtt4,ap5x,ap5y,rtt5,ap6x,ap6y,rtt6
0,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371429
1,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371428
2,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371429
3,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371428
4,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030873,-5.93,13.03,0.247991,3.34,10.26,0.371429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749054,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749055,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749056,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371828
749057,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827
749058,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827

In [3]:
rtt = dataset[['rtt1','rtt2','rtt3','rtt4','rtt5','rtt6']].to_numpy()
gt_coordinates_x = dataset['gtx'].to_numpy()
gt_coordinates_y = dataset['gty'].to_numpy()
pos_id = dataset['PosId'].to_numpy()
ap1x = dataset['ap1x'].to_numpy()
ap1y = dataset['ap1y'].to_numpy()
ap2x = dataset['ap2x'].to_numpy()
ap2y = dataset['ap2y'].to_numpy()
ap3x = dataset['ap3x'].to_numpy()
ap3y = dataset['ap3y'].to_numpy()
ap4x = dataset['ap4x'].to_numpy()
ap4y = dataset['ap4y'].to_numpy()
ap5x = dataset['ap5x'].to_numpy()
ap5y = dataset['ap5x'].to_numpy()
ap6x = dataset['ap6x'].to_numpy()
ap6y = dataset['ap6x'].to_numpy()

In [4]:
ground_truth = pd.DataFrame({'pos_id':pos_id,'x':gt_coordinates_x,'y':gt_coordinates_y})

In [5]:
ground_truth_drop_duplicate= ground_truth.drop_duplicates(['pos_id'])
ground_truth_drop_duplicate_numpy = ground_truth_drop_duplicate.to_numpy() 
coordinate_gt_df = ground_truth_drop_duplicate.iloc[:,1:]
coordinate_gt = coordinate_gt_df.to_numpy()
ground_truth_drop_duplicate
coordinate_gt_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

## Random State 0

In [6]:
from sklearn.model_selection import train_test_split
X = rtt
y = pos_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### knn

In [8]:
with open('50_0_y_pred_knn.pkl','rb') as pickle_file:
     y_pred_knn_0= pickle.load(pickle_file)

In [9]:
percentage_knn = accuracy_score(y_test,y_pred_knn_0)
percentage_knn

0.9999946599738339

In [10]:
true_false_knn = y_pred_knn_0 == y_test

In [ ]:
comp_table_knn = pd.DataFrame({'y_pred_knn': y_pred_knn,'y_test': y_test,'true_false_knn': true_false_knn})

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 41

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 101

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 500

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 900

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 1200

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 3200

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 9500

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 12500

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 75000

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM

## Random State 100000

### knn

### Random Forest

### Decision Tree

### Naive Bayes

### SVM