# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
import pickle

In [2]:
dataset = pd.read_csv('Dataset_TA.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749059 entries, 0 to 749058
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PosId   749059 non-null  int64
 1   gtx     749059 non-null  float64
 2   gty     749059 non-null  float64
 3   ap1x    749059 non-null  float64
 4   ap1y    749059 non-null  float64
 5   rtt1    749059 non-null  float64
 6   ap2x    749059 non-null  float64
 7   ap2y    749059 non-null  float64
 8   rtt2    749059 non-null  float64
 9   ap3x    749059 non-null  float64
 10  ap3y    749059 non-null  float64
 11  rtt3    749059 non-null  float64
 12  ap4x    749059 non-null  float64
 13  ap4y    749059 non-null  float64
 14  rtt4    749059 non-null  float64
 15  ap5x    749059 non-null  float64
 16  ap5y    749059 non-null  float64
 17  rtt5    749059 non-null  float64
 18  ap6x    749059 non-null  float64
 19  ap6y    749059 non-null  float64
 20  rtt6    749059 non-null  float64
dtypes: float64(20), int64(1)
memory usage: 120.0 MB

,PosId,gtx,gty,ap1x,ap1y,rtt1,ap2x,ap2y,rtt2,ap3x,...,rtt3,ap4x,ap4y,rtt4,ap5x,ap5y,rtt5,ap6x,ap6y,rtt6
0,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371429
1,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371428
2,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371429
3,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371428
4,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030873,-5.93,13.03,0.247991,3.34,10.26,0.371429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749054,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749055,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749056,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371828
749057,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827
749058,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827

In [3]:
rtt = dataset[['rtt1','rtt2','rtt3','rtt4','rtt5','rtt6']].to_numpy()
gt_coordinates_x = dataset['gtx'].to_numpy()
gt_coordinates_y = dataset['gty'].to_numpy()
pos_id = dataset['PosId'].to_numpy()
ap1x = dataset['ap1x'].to_numpy()
ap1y = dataset['ap1y'].to_numpy()
ap2x = dataset['ap2x'].to_numpy()
ap2y = dataset['ap2y'].to_numpy()
ap3x = dataset['ap3x'].to_numpy()
ap3y = dataset['ap3y'].to_numpy()
ap4x = dataset['ap4x'].to_numpy()
ap4y = dataset['ap4y'].to_numpy()
ap5x = dataset['ap5x'].to_numpy()
ap5y = dataset['ap5y'].to_numpy()
ap6x = dataset['ap6x'].to_numpy()
ap6y = dataset['ap6y'].to_numpy()

In [4]:
ground_truth = pd.DataFrame({'pos_id':pos_id,'x':gt_coordinates_x,'y':gt_coordinates_y})

In [5]:
ground_truth[(ground_truth['pos_id'] ==107)]

Empty DataFrame
Columns: [pos_id, x, y]
Index: []

In [6]:
ground_truth_drop_duplicate= ground_truth.drop_duplicates(['pos_id'])
ground_truth_drop_duplicate_numpy = ground_truth_drop_duplicate.to_numpy() 
coordinate_gt_df = ground_truth_drop_duplicate.iloc[:,1:]
coordinate_gt = coordinate_gt_df.to_numpy()
ground_truth_drop_duplicate
coordinate_gt_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

In [7]:
coordinate_gt[38]

array([-4.06, 20.48])

In [8]:
from sklearn.model_selection import train_test_split
X = rtt
y = pos_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
with open('posid_coordinates.pkl','rb') as pickle_file:
    ground_truth_duplicate = pickle.load(pickle_file)

In [11]:
with open('50_y_test.pkl','wb' ) as pickle_file:
    pickle.dump(y_test,pickle_file)

In [12]:
with open('coordinate_gt.pkl','rb') as pickle_file:
    gt_coordinate = pickle.load(pickle_file)

In [13]:
gt_coordinate_df =  ground_truth_duplicate.iloc[:,1:]
gt_coordinate_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

# knn

In [80]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2,weights='uniform')
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [81]:
y_pred_knn = knn.predict(X_test)

In [14]:
with open('50_0_y_pred_knn.pkl','rb') as pickle_file:
     y_pred_knn= pickle.load(pickle_file)

#### error

In [15]:
percentage_knn = accuracy_score(y_test,y_pred_knn)
percentage_knn

0.9999946599738339

In [16]:
true_false_knn = y_pred_knn == y_test

In [17]:
comp_table_knn = pd.DataFrame({'y_pred_knn': y_pred_knn,'y_test': y_test,'true_false_knn': true_false_knn})

In [27]:
comp_table_knn_false= comp_table_knn[(comp_table_knn['true_false_knn'] == False)]
comp_table_knn_false

        y_pred_knn  y_test  true_false_knn
31567           38      36           False
157769         147     141           False

In [19]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [24]:
ground_truth_drop_duplicate_numpy[139]

array([141.  ,  -1.51,  22.02])

In [30]:
#error distance
error_knn = (
                (distance.euclidean(coordinate_gt[37],coordinate_gt[35])) +
                (distance.euclidean(coordinate_gt[145],coordinate_gt[139]))
            )
mean_false_knn = error_knn/len(comp_table_knn_false)
mean_false_knn, error_knn

(0.2111942946412403, 0.4223885892824806)

In [31]:
#mean error in total
mean_error_knn = error_knn/len(y_test)
mean_error_knn

1.1277830595212148e-06

# random forrest

In [91]:
from sklearn.ensemble import RandomForestClassifier
Random_Forest = RandomForestClassifier(n_estimators = 10, criterion = 'gini')
Random_Forest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [92]:
y_pred_Random_Forest = Random_Forest.predict(X_test)

In [32]:
with open('50_0_y_pred_random_forest.pkl','rb') as pickle_file:
    y_pred_Random_Forest= pickle.load(pickle_file)

#### error

In [33]:
percentage_Random_Forest=accuracy_score(y_test, y_pred_Random_Forest)
percentage_Random_Forest

0.9999946599738339

In [34]:
true_false_random_forrest = y_pred_Random_Forest == y_test

In [35]:
comp_table_random_forrest = pd.DataFrame({'y_pred_random_forrest': y_pred_Random_Forest,'y_test': y_test,'true_false_random_forrest': true_false_random_forrest})
comp_table_random_forrest

        y_pred_random_forrest  y_test  true_false_random_forrest
0                         263     263                       True
1                         268     268                       True
2                         268     268                       True
3                         268     268                       True
4                         137     137                       True
...                       ...     ...                        ...
374525                    137     137                       True
374526                    198     198                       True
374527                    137     137                       True
374528                    137     137                       True
374529                    268     268                       True

[374530 rows x 3 columns]

In [39]:
comp_table_random_forest_false = comp_table_random_forrest[(comp_table_random_forrest['true_false_random_forrest'] == False)]
comp_table_random_forest_false

        y_pred_random_forrest  y_test  true_false_random_forrest
31567                      35      36                      False
157769                    134     141                      False

In [40]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [46]:
ground_truth_drop_duplicate_numpy[139]

array([141.  ,  -1.51,  22.02])

In [48]:
#error distance
error_random_forest =(
                    (distance.euclidean(coordinate_gt[34],coordinate_gt[35]))+
                    (distance.euclidean(coordinate_gt[132],coordinate_gt[139]))
                    
                     ) 
                    
mean_false_random_forest = error_random_forest/len(comp_table_random_forest_false)
mean_false_random_forest

0.20480877506368023

In [49]:
#mean error in total
mean_error_random_forest = error_random_forest/len(y_test)
mean_error_random_forest

1.09368421789272e-06

# decision tree

In [102]:
from sklearn.tree import DecisionTreeClassifier
Decision_Tree = DecisionTreeClassifier(criterion = 'gini')
Decision_Tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [103]:
y_pred_Decision_Tree = Decision_Tree.predict(X_test)

In [55]:
with open('50_0_pred_decision_tree.pkl','rb') as pickle_file:
    y_pred_Decision_Tree = pickle.load(pickle_file)

#### error

In [56]:
percentage_Decision_Tree=accuracy_score(y_test, y_pred_Decision_Tree)
percentage_Decision_Tree

0.9999946599738339

In [57]:
true_false_decision_tree = y_pred_Decision_Tree == y_test

In [58]:
comp_table_decision_tree = pd.DataFrame({'y_pred_decision_tree': y_pred_Decision_Tree,'y_test': y_test,'true_false_decision_tree': true_false_decision_tree})

In [60]:
comp_table_decision_tree_false = comp_table_decision_tree[(comp_table_decision_tree['true_false_decision_tree'] == False)]

In [61]:
comp_table_decision_tree_false

        y_pred_decision_tree  y_test  true_false_decision_tree
31567                     35      36                     False
157769                   147     141                     False

In [109]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [62]:
ground_truth_drop_duplicate_numpy[145]

array([147.  ,  -1.36,  22.1 ])

In [63]:
#error distance
error_decision_tree =(
                    (distance.euclidean(coordinate_gt[34],coordinate_gt[35]))+
                    (distance.euclidean(coordinate_gt[145],coordinate_gt[139]))
                    
                     ) 
                    
mean_false_decision_tree = error_decision_tree/len(comp_table_decision_tree_false)
mean_false_decision_tree

0.1968033988749895

In [64]:
#mean error in total
mean_error_decision_tree = error_decision_tree/len(y_test)
mean_error_decision_tree

1.0509352995754117e-06

# naive bayes

In [113]:
from sklearn.naive_bayes import GaussianNB
Naive_Bayes= GaussianNB()
Naive_Bayes.fit(X_train, y_train)

GaussianNB()

In [114]:
y_pred_naive_bayes = Naive_Bayes.predict(X_test)

In [65]:
with open('50_0_y_pred_naive_bayes.pkl','rb') as pickle_file:
    y_pred_naive_bayes = pickle.load(pickle_file)

#### error

In [66]:
percentage_naive_bayes=accuracy_score(y_test, y_pred_naive_bayes)
percentage_naive_bayes

0.9995380877366299

In [67]:
true_false_naive_bayes = y_pred_naive_bayes == y_test
true_false_naive_bayes

array([ True,  True,  True, ...,  True,  True,  True])

In [68]:
comp_table_naive_bayes = pd.DataFrame({'y_pred_naive_bayes': y_pred_naive_bayes,'y_test': y_test,'true_false_naive_bayes': true_false_naive_bayes})

In [70]:
comp_table_naive_bayes_false = comp_table_naive_bayes[(comp_table_naive_bayes['true_false_naive_bayes'] == False)]
comp_table_naive_bayes_false

        y_pred_naive_bayes  y_test  true_false_naive_bayes
8875                   268     267                   False
9457                   268     267                   False
13099                  268     267                   False
13248                  268     267                   False
13511                  268     267                   False
...                    ...     ...                     ...
358402                 268     267                   False
361149                 268     267                   False
364627                 268     267                   False
372185                 268     267                   False
373915                 268     267                   False

[173 rows x 3 columns]

In [89]:
len(comp_table_naive_bayes)

173

In [71]:
comp_table_naive_bayes.drop_duplicates(['y_pred_naive_bayes','y_test'])

        y_pred_naive_bayes  y_test  true_false_naive_bayes
8875                   268     267                   False
31567                   38      36                   False
40350                  267     268                   False
97447                  117     111                   False
157769                 147     141                   False
159160                 105     111                   False
162832                  20      22                   False

In [72]:
diffs_naive_bayes = comp_table_naive_bayes.pivot_table(index= ['y_pred_naive_bayes', 'y_test'], aggfunc='size')
print(diffs_naive_bayes)

y_pred_naive_bayes  y_test
20                  22          4
38                  36          1
105                 111         4
117                 111         4
147                 141         1
267                 268         1
268                 267       158
dtype: int64

In [77]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 107)]

Empty DataFrame
Columns: [pos_id, x, y]
Index: []

In [85]:
ground_truth_drop_duplicate_numpy[264]

array([267.  ,   1.05,   5.08])

In [90]:
#error distance
error_naive_bayes =(
                (4*distance.euclidean(coordinate_gt[19],coordinate_gt[21])) +
                (1*distance.euclidean(coordinate_gt[37],coordinate_gt[35])) +
                (4*distance.euclidean(coordinate_gt[104],coordinate_gt[109])) +
                (4*distance.euclidean(coordinate_gt[115],coordinate_gt[109])) +
                (1*distance.euclidean(coordinate_gt[145],coordinate_gt[139])) +
                (1*distance.euclidean(coordinate_gt[264],coordinate_gt[265])) +
                (158*distance.euclidean(coordinate_gt[264],coordinate_gt[265]))
                   )
mean_false_naive_bayes = error_naive_bayes/len(comp_table_naive_bayes)
mean_false_naive_bayes, error_naive_bayes

(0.032416011731142294, 5.607970029487617)

In [125]:
#mean error in total
mean_error_naive_bayes= error_naive_bayes/len(y_test)
mean_error_naive_bayes

2.882001615454442e-06

# svm

In [126]:
from sklearn.svm import SVC
SVM = SVC(kernel = 'linear')
SVM.fit(X_train, y_train)

SVC(kernel='linear')

In [127]:
y_pred_SVM = SVM.predict(X_test)

In [91]:
with open('50_0_pred_svm.pkl','rb' ) as pickle_file:
    y_pred_SVM = pickle.load(pickle_file)

#### error

In [92]:
percentage_SVM=accuracy_score(y_test, y_pred_SVM)
percentage_SVM

0.9527033882466024

In [93]:
true_false_svm = y_pred_SVM == y_test
type(true_false_svm)

numpy.ndarray

In [94]:
comp_table_SVM = pd.DataFrame({'y_pred_svm': y_pred_SVM,'y_test': y_test,'true_false_svm': true_false_svm})

In [95]:
comp_table_SVM_false=comp_table_SVM[(comp_table_SVM['true_false_svm'] == False)]

In [96]:
comp_table_SVM_false
len(comp_table_SVM_false)

17714

In [97]:
comp_table_SVM_false.drop_duplicates(['y_pred_svm','y_test'])

        y_pred_svm  y_test  true_false_svm
56             268     267           False
80             267     268           False
110            153     152           False
162            134     126           False
237            116     121           False
...            ...     ...             ...
262464          80      83           False
276981         122     128           False
308036         273     282           False
349564         272     279           False
359143         165     167           False

[266 rows x 3 columns]

In [98]:
diffs_svm = comp_table_SVM_false.pivot_table(index= ['y_pred_svm', 'y_test'], aggfunc='size')
pd.set_option('display.max_rows', None)
diffs_svm

y_pred_svm  y_test
3           1           22
            2            3
            4           12
            6           28
            8           18
7           2           50
            5           10
            9           10
13          11         141
            15           9
14          8            3
            10          27
            12          32
            16          38
19          17          12
            21          31
            23          11
20          18           8
            22           5
27          24         248
            29           1
28          25           9
            26          83
31          29          20
            33          22
            35          13
34          30           8
            32          20
            37          22
38          35          53
            36           1
            41          32
            44          55
40          37          30
            65          16
43          39           5
            42          53
            50          34
47          44          21
            45          19
48          52         133
51          47           1
            49          23
            58          10
54          56          24
            60          18
57          42          74
            46          32
            55          15
59          58           7
            61           7
62          56          14
            64          20
63          53           6
            68          10
69          66           8
            71          32
            76          74
            81           4
70          68          38
            74           7
72          67          13
            78           3
73          65          10
75          74           8
            77          30
76          81           1
            91          13
80          77           4
            83           3
82          79           5
            85         156
84          78           7
            93          15
            99          59
86          83           5
            95          18
89          87           9
            88          18
90          88          16
            92          17
            94          77
97          95          10
            101         13
100         94          36
            98          14
            104         17
102         91          43
            96          31
108         99          44
            103         35
            112         11
110         96           4
            102        121
            106          9
113         109         17
            115         17
            123         15
116         114         38
            121         22
117         111         12
            127         37
            138         77
118         114          5
122         121         23
            125         37
            128          1
126         119         31
128         130         23
129         120         17
            140         33
            149         49
131         124         18
            135         28
            145          5
133         132         18
            136        108
134         126        254
            141          1
            147         26
137         142        249
142         146         16
143         139         29
            144         14
            148         33
151         146         14
153         148         49
            152         13
            154         16
155         151         80
            159         28
156         154         19
            161         39
163         162         11
            164         11
165         162          3
            167          1
166         164         10
168         158         27
            160         64
            179         12
170         171         34
            176          1
172         175         15
174         167         15
            173         34
177         186         34
178         160         19
            169          9
            182          3
            183         25
180         176         12
            188         15
181         138         25
            150         12
187         145         21
            157         12
189         183         10
            184         33
            191         18
190         188         19
            194         18
192         185         33
196         181        223
            206         10
            213         35
197         193         14
            199         73
            201         84
            203          8
198         187        242
            208         12
200         194         15
            207         96
201         204         30
205         195         17
            215         33
210         203         19
211         202         31
212         209         16
            217         33
            223         47
214         204          4
            210         72
            224         29
            238          9
216         228          1
221         225          9
222         229         34
            239         99
226         215          1
231         213         36
            219         37
            242         19
232         230         16
            236          6
            237         79
233         223         30
            227         13
            235         11
234         220         34
239         243         31
241         228         22
            246         26
244         242         11
            249         25
247         234        156
            255         35
248         254         12
251         246         10
            250         16
253         239          4
256         245         59
            252         19
            259         17
257         254          1
            262         17
258         264          9
260         253        148
261         259         17
263         261        225
            266         37
267         268       3758
268         267       5554
            269          3
269         271         37
270         262         34
            274        243
272         279          1
273         264          8
            278         39
            282          1
274         275         16
            277          3
276         281          1
277         280         14
282         286         24
284         279         15
            290         18
285         281         30
            288          4
287         283        115
            291         34
293         289        104
            292         27
            294         16
295         288          1
            297         20
296         290          1
298         297          1
            300         19
301         299         19
            303         14
304         302         18
            305         70
            307          9
306         303         15
            308         16
311         309         27
313         309          7
            311        108
            315         14
314         312         14
            316          3
317         315         18
            316         13
dtype: int64

In [136]:
ground_truth_drop_duplicate_numpy[276]

array([279.  ,   1.44,   5.14])

In [137]:
error_svm=(
    # 3
                (22*distance.euclidean(coordinate_gt[2],coordinate_gt[0])) +
                (3*distance.euclidean(coordinate_gt[2],coordinate_gt[1])) +
                (12*distance.euclidean(coordinate_gt[2],coordinate_gt[3])) +
                (28*distance.euclidean(coordinate_gt[2],coordinate_gt[5])) +
                (18*distance.euclidean(coordinate_gt[2],coordinate_gt[7])) +
    #7
                (50*distance.euclidean(coordinate_gt[6],coordinate_gt[1])) +
                (10*distance.euclidean(coordinate_gt[6],coordinate_gt[4])) +
                (10*distance.euclidean(coordinate_gt[6],coordinate_gt[8])) +
    
    #13
                (141*distance.euclidean(coordinate_gt[12],coordinate_gt[10])) +
                (9*distance.euclidean(coordinate_gt[12],coordinate_gt[14])) +
    #14
                (3*distance.euclidean(coordinate_gt[13],coordinate_gt[7])) +
                (27*distance.euclidean(coordinate_gt[13],coordinate_gt[9])) +
                (32*distance.euclidean(coordinate_gt[13],coordinate_gt[11])) +
                (28*distance.euclidean(coordinate_gt[13],coordinate_gt[15])) +
    #19 
                (12*distance.euclidean(coordinate_gt[18],coordinate_gt[16])) +
                (31*distance.euclidean(coordinate_gt[18],coordinate_gt[20])) +
                (11*distance.euclidean(coordinate_gt[18],coordinate_gt[22])) +
    #20
                (8*distance.euclidean(coordinate_gt[19],coordinate_gt[17])) +
                (5*distance.euclidean(coordinate_gt[19],coordinate_gt[21])) +
    #27
                (1*distance.euclidean(coordinate_gt[26],coordinate_gt[28])) +
                (248*distance.euclidean(coordinate_gt[26],coordinate_gt[23])) +
    #28
                (9*distance.euclidean(coordinate_gt[27],coordinate_gt[24])) +
                (83*distance.euclidean(coordinate_gt[27],coordinate_gt[25])) +
                
    #31
                (20*distance.euclidean(coordinate_gt[30],coordinate_gt[28])) +
                (22*distance.euclidean(coordinate_gt[30],coordinate_gt[32])) +
                (12*distance.euclidean(coordinate_gt[30],coordinate_gt[34])) +
    #34
                (5*distance.euclidean(coordinate_gt[33],coordinate_gt[31])) +
                (3*distance.euclidean(coordinate_gt[33],coordinate_gt[36])) +
    #38
                (16*distance.euclidean(coordinate_gt[37],coordinate_gt[34])) +
                (9*distance.euclidean(coordinate_gt[37],coordinate_gt[40])) +
    #40
                (9*distance.euclidean(coordinate_gt[39],coordinate_gt[36])) +
                (3*distance.euclidean(coordinate_gt[39],coordinate_gt[64])) +
    #43 
                (3*distance.euclidean(coordinate_gt[42],coordinate_gt[38])) +
                (13*distance.euclidean(coordinate_gt[42],coordinate_gt[49])) +
    #47
                (5*distance.euclidean(coordinate_gt[46],coordinate_gt[44])) +
                (1*distance.euclidean(coordinate_gt[46],coordinate_gt[48])) +
    #48
                (56*distance.euclidean(coordinate_gt[47],coordinate_gt[51])) +
    #51
                (5*distance.euclidean(coordinate_gt[50],coordinate_gt[48])) +
                (4*distance.euclidean(coordinate_gt[50],coordinate_gt[57])) +
    #54
                (11*distance.euclidean(coordinate_gt[53],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[53],coordinate_gt[59])) +
    #57
                (17*distance.euclidean(coordinate_gt[56],coordinate_gt[45])) +
                (8*distance.euclidean(coordinate_gt[56],coordinate_gt[54])) +
    #59
                (5*distance.euclidean(coordinate_gt[58],coordinate_gt[60])) +
    #62
                (3*distance.euclidean(coordinate_gt[61],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[61],coordinate_gt[64])) +
    #63
                (3*distance.euclidean(coordinate_gt[62],coordinate_gt[52])) +
                (4*distance.euclidean(coordinate_gt[62],coordinate_gt[67])) +
    #69
                (1*distance.euclidean(coordinate_gt[68],coordinate_gt[65])) +
                (17*distance.euclidean(coordinate_gt[68],coordinate_gt[70])) +
                (27*distance.euclidean(coordinate_gt[68],coordinate_gt[75])) +
    #70
                (13*distance.euclidean(coordinate_gt[69],coordinate_gt[67])) +
                (2*distance.euclidean(coordinate_gt[69],coordinate_gt[73])) +
    #72
                (4*distance.euclidean(coordinate_gt[71],coordinate_gt[66])) +
                (5*distance.euclidean(coordinate_gt[71],coordinate_gt[77])) +
    #73
                (6*distance.euclidean(coordinate_gt[72],coordinate_gt[64])) +
                (2*distance.euclidean(coordinate_gt[72],coordinate_gt[78])) +
    #75
                (6*distance.euclidean(coordinate_gt[74],coordinate_gt[76])) +
                (2*distance.euclidean(coordinate_gt[74],coordinate_gt[73])) +
    #76
                (2*distance.euclidean(coordinate_gt[75],coordinate_gt[80])) +
                (5*distance.euclidean(coordinate_gt[75],coordinate_gt[90])) +
    #80
                (3*distance.euclidean(coordinate_gt[79],coordinate_gt[3])) +
                (1*distance.euclidean(coordinate_gt[79],coordinate_gt[82])) +
    #82
                (64*distance.euclidean(coordinate_gt[81],coordinate_gt[84])) +
    #84 
                (3*distance.euclidean(coordinate_gt[83],coordinate_gt[77])) +
                (2*distance.euclidean(coordinate_gt[93],coordinate_gt[83])) +
                (4*distance.euclidean(coordinate_gt[83],coordinate_gt[98])) +
    #86
                (6*distance.euclidean(coordinate_gt[85],coordinate_gt[94])) +
    #89
                (2*distance.euclidean(coordinate_gt[88],coordinate_gt[86])) +
                (7*distance.euclidean(coordinate_gt[88],coordinate_gt[87])) +
    #90 
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[87])) +
                (5*distance.euclidean(coordinate_gt[89],coordinate_gt[91])) +
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[93])) +
    #97
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[94]))+
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[100]))+
    #100
                (7*distance.euclidean(coordinate_gt[99],coordinate_gt[97]))+
                (8*distance.euclidean(coordinate_gt[99],coordinate_gt[103]))+
    #102
                (12*distance.euclidean(coordinate_gt[101],coordinate_gt[90]))+
                (13*distance.euclidean(coordinate_gt[101],coordinate_gt[95]))+
    #105
                (1*distance.euclidean(coordinate_gt[104],coordinate_gt[100]))+
                (2*distance.euclidean(coordinate_gt[104],coordinate_gt[110]))+
    #108
                (11*distance.euclidean(coordinate_gt[106],coordinate_gt[102]))+
                (2*distance.euclidean(coordinate_gt[106],coordinate_gt[110]))+
    #110
                (2*distance.euclidean(coordinate_gt[108],coordinate_gt[105]))+
                (4*distance.euclidean(coordinate_gt[108],coordinate_gt[118]))+
    #113
                (10*distance.euclidean(coordinate_gt[111],coordinate_gt[107]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[113]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[121]))+
    #116
                (10*distance.euclidean(coordinate_gt[114],coordinate_gt[112]))+
                (11*distance.euclidean(coordinate_gt[114],coordinate_gt[119]))+
    #117
                (1*distance.euclidean(coordinate_gt[115],coordinate_gt[109]))+
                (12*distance.euclidean(coordinate_gt[115],coordinate_gt[125]))+
                (2*distance.euclidean(coordinate_gt[115],coordinate_gt[136]))+
    #118
                (6*distance.euclidean(coordinate_gt[116],coordinate_gt[112]))+
                (5*distance.euclidean(coordinate_gt[116],coordinate_gt[122]))+
    #122
                (8*distance.euclidean(coordinate_gt[120],coordinate_gt[119]))+
                (10*distance.euclidean(coordinate_gt[120],coordinate_gt[123]))+
    #126
                (14*distance.euclidean(coordinate_gt[124],coordinate_gt[117]))+
    #128
                (14*distance.euclidean(coordinate_gt[126],coordinate_gt[128]))+
                (1*distance.euclidean(coordinate_gt[126],coordinate_gt[123]))+
                
    #129
                (2*distance.euclidean(coordinate_gt[127],coordinate_gt[118]))+
                (9*distance.euclidean(coordinate_gt[127],coordinate_gt[148]))+
                (22*distance.euclidean(coordinate_gt[127],coordinate_gt[147]))+
    #131
                (4*distance.euclidean(coordinate_gt[129],coordinate_gt[122]))+
                (8*distance.euclidean(coordinate_gt[129],coordinate_gt[133]))+
    #133
                (7*distance.euclidean(coordinate_gt[131],coordinate_gt[130]))+
                (48*distance.euclidean(coordinate_gt[131],coordinate_gt[134]))+
    #134
                (39*distance.euclidean(coordinate_gt[132],coordinate_gt[124]))+
                (17*distance.euclidean(coordinate_gt[132],coordinate_gt[145]))+
    #142
                (5*distance.euclidean(coordinate_gt[140],coordinate_gt[144]))+
    #143
                (13*distance.euclidean(coordinate_gt[141],coordinate_gt[137]))+
                (7*distance.euclidean(coordinate_gt[141],coordinate_gt[142]))+
                (16*distance.euclidean(coordinate_gt[141],coordinate_gt[146]))+
    #151
                (10*distance.euclidean(coordinate_gt[149],coordinate_gt[144]))+
    #153
                (17*distance.euclidean(coordinate_gt[151],coordinate_gt[146]))+
                (7*distance.euclidean(coordinate_gt[151],coordinate_gt[150]))+
                (5*distance.euclidean(coordinate_gt[151],coordinate_gt[152]))+
    #155
                (4*distance.euclidean(coordinate_gt[153],coordinate_gt[157]))+
    #156
                (8*distance.euclidean(coordinate_gt[154],coordinate_gt[152]))+
                (16*distance.euclidean(coordinate_gt[154],coordinate_gt[159]))+
    #163
                (1*distance.euclidean(coordinate_gt[161],coordinate_gt[160]))+
    #165
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[160]))+
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[165]))+
    #166
                (5*distance.euclidean(coordinate_gt[164],coordinate_gt[157]))+
                (6*distance.euclidean(coordinate_gt[164],coordinate_gt[162]))+
    #168
                (12*distance.euclidean(coordinate_gt[166],coordinate_gt[156]))+
                (30*distance.euclidean(coordinate_gt[166],coordinate_gt[158]))+
                (6*distance.euclidean(coordinate_gt[166],coordinate_gt[177]))+
    #170
                (15*distance.euclidean(coordinate_gt[168],coordinate_gt[169]))+
                (1*distance.euclidean(coordinate_gt[168],coordinate_gt[174]))+
    #172
                (8*distance.euclidean(coordinate_gt[170],coordinate_gt[173]))+
    #174
                (5*distance.euclidean(coordinate_gt[172],coordinate_gt[165]))+
                (18*distance.euclidean(coordinate_gt[172],coordinate_gt[171]))+
    #177
                (10*distance.euclidean(coordinate_gt[175],coordinate_gt[184]))+
    #178
                (11*distance.euclidean(coordinate_gt[176],coordinate_gt[158]))+
                (10*distance.euclidean(coordinate_gt[176],coordinate_gt[167]))+
                (12*distance.euclidean(coordinate_gt[176],coordinate_gt[181]))+
    #180
                (4*distance.euclidean(coordinate_gt[178],coordinate_gt[174]))+
                (10*distance.euclidean(coordinate_gt[178],coordinate_gt[186]))+
    #181
                (6*distance.euclidean(coordinate_gt[179],coordinate_gt[148]))+
    #187
                (9*distance.euclidean(coordinate_gt[185],coordinate_gt[155]))+
    #189
                (4*distance.euclidean(coordinate_gt[187],coordinate_gt[181]))+
                (13*distance.euclidean(coordinate_gt[187],coordinate_gt[182]))+
                (6*distance.euclidean(coordinate_gt[187],coordinate_gt[189]))+
    #190 
                (8*distance.euclidean(coordinate_gt[188],coordinate_gt[186]))+
                (11*distance.euclidean(coordinate_gt[188],coordinate_gt[192]))+
    #192
                (10*distance.euclidean(coordinate_gt[190],coordinate_gt[183]))+
                (3*distance.euclidean(coordinate_gt[190],coordinate_gt[200]))+
    #196
                (44*distance.euclidean(coordinate_gt[194],coordinate_gt[179]))+
                (3*distance.euclidean(coordinate_gt[194],coordinate_gt[204]))+
                (20*distance.euclidean(coordinate_gt[164],coordinate_gt[211]))+
    #197
                (7*distance.euclidean(coordinate_gt[195],coordinate_gt[191]))+
                (32*distance.euclidean(coordinate_gt[195],coordinate_gt[197]))+
                (38*distance.euclidean(coordinate_gt[195],coordinate_gt[199]))+
    #198 
                (2*distance.euclidean(coordinate_gt[196],coordinate_gt[206]))+
    #200
                (6*distance.euclidean(coordinate_gt[192],coordinate_gt[198]))+
                (41*distance.euclidean(coordinate_gt[198],coordinate_gt[205]))+
                
    #201
                (16*distance.euclidean(coordinate_gt[199],coordinate_gt[201]))+
                (12*distance.euclidean(coordinate_gt[199],coordinate_gt[202]))+
    #205
                (4*distance.euclidean(coordinate_gt[203],coordinate_gt[193]))+
                (11*distance.euclidean(coordinate_gt[203],coordinate_gt[213]))+
    #211
                (9*distance.euclidean(coordinate_gt[209],coordinate_gt[200]))+
                (6*distance.euclidean(coordinate_gt[209],coordinate_gt[218]))+
    #212
                (11*distance.euclidean(coordinate_gt[210],coordinate_gt[207]))+
                (17*distance.euclidean(coordinate_gt[210],coordinate_gt[215]))+
                (23*distance.euclidean(coordinate_gt[210],coordinate_gt[221]))+
    #214
                (37*distance.euclidean(coordinate_gt[212],coordinate_gt[208]))+
                (17*distance.euclidean(coordinate_gt[212],coordinate_gt[222]))+
                (4*distance.euclidean(coordinate_gt[212],coordinate_gt[236]))+
    #216
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[206]))+
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[226]))+
    #221
                (3*distance.euclidean(coordinate_gt[219],coordinate_gt[223]))+
    #222
                (11*distance.euclidean(coordinate_gt[220],coordinate_gt[227]))+
                (1*distance.euclidean(coordinate_gt[220],coordinate_gt[237]))+
    #226
                (4*distance.euclidean(coordinate_gt[224],coordinate_gt[213]))+
    #231
                (15*distance.euclidean(coordinate_gt[229],coordinate_gt[211]))+
                (12*distance.euclidean(coordinate_gt[229],coordinate_gt[217]))+
                (5*distance.euclidean(coordinate_gt[229],coordinate_gt[239]))+
    #232
                (7*distance.euclidean(coordinate_gt[230],coordinate_gt[228]))+
                (3*distance.euclidean(coordinate_gt[230],coordinate_gt[234]))+
    #233
                (14*distance.euclidean(coordinate_gt[231],coordinate_gt[221]))+
                (8*distance.euclidean(coordinate_gt[231],coordinate_gt[225]))+
                (3*distance.euclidean(coordinate_gt[231],coordinate_gt[233]))+
    #234
                (14*distance.euclidean(coordinate_gt[232],coordinate_gt[218]))+
    #241
                (5*distance.euclidean(coordinate_gt[238],coordinate_gt[226]))+
                (4*distance.euclidean(coordinate_gt[219],coordinate_gt[243]))+
    #244
                (7*distance.euclidean(coordinate_gt[241],coordinate_gt[239]))+
                (8*distance.euclidean(coordinate_gt[241],coordinate_gt[246]))+
    #247
                (9*distance.euclidean(coordinate_gt[243],coordinate_gt[252]))+
    #248
                (2*distance.euclidean(coordinate_gt[245],coordinate_gt[251]))+
    #251
                (10*distance.euclidean(coordinate_gt[248],coordinate_gt[243]))+
                (6*distance.euclidean(coordinate_gt[248],coordinate_gt[247]))+
    #253
                (12*distance.euclidean(coordinate_gt[250],coordinate_gt[240]))+
    #256
                (20*distance.euclidean(coordinate_gt[253],coordinate_gt[242]))+
                (7*distance.euclidean(coordinate_gt[253],coordinate_gt[249]))+
                (9*distance.euclidean(coordinate_gt[253],coordinate_gt[256]))+
    #257
                (4*distance.euclidean(coordinate_gt[254],coordinate_gt[251]))+
                (8*distance.euclidean(coordinate_gt[254],coordinate_gt[259]))+
    #258
                (4*distance.euclidean(coordinate_gt[255],coordinate_gt[252]))+
                (9*distance.euclidean(coordinate_gt[255],coordinate_gt[261]))+
    #260
                (56*distance.euclidean(coordinate_gt[257],coordinate_gt[250]))+
                (1*distance.euclidean(coordinate_gt[257],coordinate_gt[262]))+
    #261
                (7*distance.euclidean(coordinate_gt[258],coordinate_gt[256]))+
    #263
                (11*distance.euclidean(coordinate_gt[260],coordinate_gt[263]))+
                (2*distance.euclidean(coordinate_gt[260],coordinate_gt[258]))+
    #267
                (1568*distance.euclidean(coordinate_gt[264],coordinate_gt[265]))+
    #268
                (2133*distance.euclidean(coordinate_gt[265],coordinate_gt[264]))+
    #269
                (7*distance.euclidean(coordinate_gt[266],coordinate_gt[268]))+
    #270
                (14*distance.euclidean(coordinate_gt[267],coordinate_gt[259]))+
                (53*distance.euclidean(coordinate_gt[267],coordinate_gt[271]))+
    #272
                (1*distance.euclidean(coordinate_gt[269],coordinate_gt[276]))+
    #273
                (12*distance.euclidean(coordinate_gt[270],coordinate_gt[275]))+
    #274
                (2*distance.euclidean(coordinate_gt[271],coordinate_gt[272]))+
    #276
                (5*distance.euclidean(coordinate_gt[273],coordinate_gt[268]))+
                (7*distance.euclidean(coordinate_gt[273],coordinate_gt[279]))+
    #277
                (1*distance.euclidean(coordinate_gt[274],coordinate_gt[272]))+
                (5*distance.euclidean(coordinate_gt[274],coordinate_gt[277]))+
    #282
                (5*distance.euclidean(coordinate_gt[279],coordinate_gt[283]))+
    #284
                (7*distance.euclidean(coordinate_gt[281],coordinate_gt[277]))+
                (6*distance.euclidean(coordinate_gt[281],coordinate_gt[287])) +
    #285
                (9*distance.euclidean(coordinate_gt[283],coordinate_gt[278])) +
                (1*distance.euclidean(coordinate_gt[283],coordinate_gt[285])) +
    #287
                (44*distance.euclidean(coordinate_gt[285],coordinate_gt[280])) +
                (10*distance.euclidean(coordinate_gt[285],coordinate_gt[288])) +
    #289
                (3*distance.euclidean(coordinate_gt[286],coordinate_gt[283])) +
    #293
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[289])) +
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[291])) +
    #295
                (5*distance.euclidean(coordinate_gt[292],coordinate_gt[294])) +
    #296
                (5*distance.euclidean(coordinate_gt[293],coordinate_gt[287])) +
                (1*distance.euclidean(coordinate_gt[293],coordinate_gt[296])) +
    #298
                (2*distance.euclidean(coordinate_gt[295],coordinate_gt[294])) +
                (10*distance.euclidean(coordinate_gt[295],coordinate_gt[297])) +
    #301
                (8*distance.euclidean(coordinate_gt[298],coordinate_gt[300])) +
    #304 
                (6*distance.euclidean(coordinate_gt[301],coordinate_gt[299])) +
                (28*distance.euclidean(coordinate_gt[301],coordinate_gt[302])) +
                (7*distance.euclidean(coordinate_gt[301],coordinate_gt[304])) +
    #306
                (3*distance.euclidean(coordinate_gt[303],coordinate_gt[300])) +
                (4*distance.euclidean(coordinate_gt[303],coordinate_gt[305])) +
    #310
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[305])) +
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[309])) +
    #311
                (8*distance.euclidean(coordinate_gt[309],coordinate_gt[306])) +
    #313
                (2*distance.euclidean(coordinate_gt[310],coordinate_gt[306])) +
                (46*distance.euclidean(coordinate_gt[310],coordinate_gt[308])) +
                (10*distance.euclidean(coordinate_gt[310],coordinate_gt[312])) +
    #314
                (7*distance.euclidean(coordinate_gt[311],coordinate_gt[309])) +
                (1*distance.euclidean(coordinate_gt[311],coordinate_gt[313])) +
    #317
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[312])) +
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[313])) 
                )
            
                
mean_false_svm = error_svm/len(comp_table_SVM_false)
mean_false_svm,error_svm

(0.08859296553991772, 1569.3357915741024)

In [138]:
#mean error in total 
mean_error_svm = error_svm/len(y_test)
mean_error_svm

0.00419014709522362