# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
import pickle

In [2]:
dataset = pd.read_csv('Dataset_TA.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749059 entries, 0 to 749058
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PosId   749059 non-null  int64
 1   gtx     749059 non-null  float64
 2   gty     749059 non-null  float64
 3   ap1x    749059 non-null  float64
 4   ap1y    749059 non-null  float64
 5   rtt1    749059 non-null  float64
 6   ap2x    749059 non-null  float64
 7   ap2y    749059 non-null  float64
 8   rtt2    749059 non-null  float64
 9   ap3x    749059 non-null  float64
 10  ap3y    749059 non-null  float64
 11  rtt3    749059 non-null  float64
 12  ap4x    749059 non-null  float64
 13  ap4y    749059 non-null  float64
 14  rtt4    749059 non-null  float64
 15  ap5x    749059 non-null  float64
 16  ap5y    749059 non-null  float64
 17  rtt5    749059 non-null  float64
 18  ap6x    749059 non-null  float64
 19  ap6y    749059 non-null  float64
 20  rtt6    749059 non-null  float64
dtypes: float64(20), int64(1)
memory usage: 120.0 MB

,PosId,gtx,gty,ap1x,ap1y,rtt1,ap2x,ap2y,rtt2,ap3x,...,rtt3,ap4x,ap4y,rtt4,ap5x,ap5y,rtt5,ap6x,ap6y,rtt6
0,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371429
1,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371428
2,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371429
3,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371428
4,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030873,-5.93,13.03,0.247991,3.34,10.26,0.371429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749054,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749055,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749056,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371828
749057,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827
749058,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827

In [3]:
rtt = dataset[['rtt1','rtt2','rtt3','rtt4','rtt5','rtt6']].to_numpy()
gt_coordinates_x = dataset['gtx'].to_numpy()
gt_coordinates_y = dataset['gty'].to_numpy()
pos_id = dataset['PosId'].to_numpy()
ap1x = dataset['ap1x'].to_numpy()
ap1y = dataset['ap1y'].to_numpy()
ap2x = dataset['ap2x'].to_numpy()
ap2y = dataset['ap2y'].to_numpy()
ap3x = dataset['ap3x'].to_numpy()
ap3y = dataset['ap3y'].to_numpy()
ap4x = dataset['ap4x'].to_numpy()
ap4y = dataset['ap4y'].to_numpy()
ap5x = dataset['ap5x'].to_numpy()
ap5y = dataset['ap5y'].to_numpy()
ap6x = dataset['ap6x'].to_numpy()
ap6y = dataset['ap6y'].to_numpy()

In [4]:
ground_truth = pd.DataFrame({'pos_id':pos_id,'x':gt_coordinates_x,'y':gt_coordinates_y})

In [5]:
ground_truth[(ground_truth['pos_id'] ==107)]

Empty DataFrame
Columns: [pos_id, x, y]
Index: []

In [6]:
ground_truth_drop_duplicate= ground_truth.drop_duplicates(['pos_id'])
ground_truth_drop_duplicate_numpy = ground_truth_drop_duplicate.to_numpy() 
coordinate_gt_df = ground_truth_drop_duplicate.iloc[:,1:]
coordinate_gt = coordinate_gt_df.to_numpy()
ground_truth_drop_duplicate
coordinate_gt_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

In [7]:
coordinate_gt[38]

array([-4.06, 20.48])

In [8]:
from sklearn.model_selection import train_test_split
X = rtt
y = pos_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 1200)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
with open('posid_coordinates.pkl','rb') as pickle_file:
    ground_truth_duplicate = pickle.load(pickle_file)

In [11]:
with open('coordinate_gt.pkl','rb') as pickle_file:
    gt_coordinate = pickle.load(pickle_file)

In [12]:
gt_coordinate_df =  ground_truth_duplicate.iloc[:,1:]
gt_coordinate_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

# knn

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2,weights='uniform')
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [14]:
y_pred_knn = knn.predict(X_test)

In [15]:
with open('50_1200_y_pred_knn.pkl','wb') as pickle_file:
    pickle.dump(y_pred_knn,pickle_file)

#### error

In [16]:
percentage_knn = accuracy_score(y_test,y_pred_knn)
percentage_knn

0.9999546097775879

In [17]:
true_false_knn = y_pred_knn == y_test

In [18]:
comp_table_knn = pd.DataFrame({'y_pred_knn': y_pred_knn,'y_test': y_test,'true_false_knn': true_false_knn})

In [19]:
comp_table_knn[(comp_table_knn['true_false_knn'] == False)]

        y_pred_knn  y_test  true_false_knn
31719           59      61           False
35589           60      61           False
105397          59      61           False
107793          59      61           False
138697         222     218           False
162200          60      61           False
165046          60      61           False
178733          59      61           False
184746          60      61           False
199349          60      61           False
203587         272     265           False
259875          59      61           False
268930          59      61           False
294251         147     141           False
310027          59      61           False
325277          59      61           False
330695          59      61           False

In [20]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [21]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [22]:
#error distance
error_knn = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_knn

0.23086792761230387

In [23]:
#mean error in total
mean_error_knn = error_knn/len(y_test)
mean_error_knn

6.164203871847486e-07

# random forrest

In [24]:
from sklearn.ensemble import RandomForestClassifier
Random_Forest = RandomForestClassifier(n_estimators = 10, criterion = 'gini')
Random_Forest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [25]:
y_pred_Random_Forest = Random_Forest.predict(X_test)

In [26]:
with open('50_1200_y_pred_random_forest.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Random_Forest,pickle_file)

#### error

In [27]:
percentage_Random_Forest=accuracy_score(y_test, y_pred_Random_Forest)
percentage_Random_Forest

0.9999866499345846

In [28]:
true_false_random_forrest = y_pred_Random_Forest == y_test

In [29]:
comp_table_random_forrest = pd.DataFrame({'y_pred_random_forrest': y_pred_Random_Forest,'y_test': y_test,'true_false_random_forrest': true_false_random_forrest})
comp_table_random_forrest

        y_pred_random_forrest  y_test  true_false_random_forrest
0                         268     268                       True
1                         268     268                       True
2                         268     268                       True
3                         268     268                       True
4                         268     268                       True
...                       ...     ...                        ...
374525                    268     268                       True
374526                    268     268                       True
374527                    268     268                       True
374528                    268     268                       True
374529                    268     268                       True

[374530 rows x 3 columns]

In [30]:
comp_table_random_forrest[(comp_table_random_forrest['true_false_random_forrest'] == False)]

        y_pred_random_forrest  y_test  true_false_random_forrest
107793                     59      61                      False
138697                    221     218                      False
162200                     60      61                      False
203587                    272     265                      False
294251                    147     141                      False

In [31]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [32]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [33]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [34]:
#mean error in total
mean_error_random_forest = error_knn/len(y_test)
mean_error_random_forest

6.164203871847486e-07

# decision tree

In [35]:
from sklearn.tree import DecisionTreeClassifier
Decision_Tree = DecisionTreeClassifier(criterion = 'gini')
Decision_Tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [36]:
y_pred_Decision_Tree = Decision_Tree.predict(X_test)

In [37]:
with open('50_1200_pred_decision_tree.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Decision_Tree,pickle_file)

#### error

In [38]:
percentage_Decision_Tree=accuracy_score(y_test, y_pred_Decision_Tree)
percentage_Decision_Tree

0.9999919899607508

In [39]:
true_false_decision_tree = y_pred_Decision_Tree == y_test

In [40]:
comp_table_decision_tree = pd.DataFrame({'y_pred_decision_tree': y_pred_Decision_Tree,'y_test': y_test,'true_false_decision_tree': true_false_decision_tree})

In [41]:
comp_table_decision_tree[(comp_table_decision_tree['true_false_decision_tree'] == False)]

        y_pred_decision_tree  y_test  true_false_decision_tree
138697                   222     218                     False
203587                   272     265                     False
294251                   147     141                     False

In [42]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [43]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [44]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [45]:
#mean error in total
mean_error_random_forest = error_random_forest/len(y_test)
mean_error_random_forest

6.164203871847486e-07

# naive bayes

In [46]:
from sklearn.naive_bayes import GaussianNB
Naive_Bayes= GaussianNB()
Naive_Bayes.fit(X_train, y_train)

GaussianNB()

In [47]:
y_pred_naive_bayes = Naive_Bayes.predict(X_test)

In [48]:
with open('50_1200_y_pred_naive_bayes.pkl','wb') as pickle_file:
    pickle.dump(y_pred_naive_bayes,pickle_file)

#### error

In [49]:
percentage_naive_bayes=accuracy_score(y_test, y_pred_naive_bayes)
percentage_naive_bayes

0.9995460977758791

In [50]:
true_false_naive_bayes = y_pred_naive_bayes == y_test
true_false_naive_bayes

array([ True,  True,  True, ...,  True,  True,  True])

In [51]:
comp_table_naive_bayes = pd.DataFrame({'y_pred_naive_bayes': y_pred_naive_bayes,'y_test': y_test,'true_false_naive_bayes': true_false_naive_bayes})

In [52]:
comp_table_naive_bayes = comp_table_naive_bayes[(comp_table_naive_bayes['true_false_naive_bayes'] == False)]
comp_table_naive_bayes

        y_pred_naive_bayes  y_test  true_false_naive_bayes
4124                   268     267                   False
5058                   268     267                   False
11611                  268     267                   False
11862                  268     267                   False
14269                  268     267                   False
...                    ...     ...                     ...
349079                 268     267                   False
352512                 268     267                   False
353258                 268     267                   False
356978                 268     267                   False
360977                 268     267                   False

[170 rows x 3 columns]

In [53]:
comp_table_naive_bayes.drop_duplicates(['y_pred_naive_bayes','y_test'])

        y_pred_naive_bayes  y_test  true_false_naive_bayes
4124                   268     267                   False
138697                 221     218                   False
162200                  59      61                   False
203587                 272     265                   False
294251                 134     141                   False
334061                 267     268                   False

In [54]:
diffs_naive_bayes = comp_table_naive_bayes.pivot_table(index= ['y_pred_naive_bayes', 'y_test'], aggfunc='size')
print(diffs_naive_bayes)

y_pred_naive_bayes  y_test
59                  61          8
134                 141         1
221                 218         1
267                 268         1
268                 267       158
272                 265         1
dtype: int64

In [55]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 108)]

       pos_id    x      y
33251     108 -2.5  21.59

In [56]:
ground_truth_drop_duplicate_numpy[258]

array([261.  ,   0.88,   5.07])

In [57]:
#error distance
error_naive_bayes =(
                (60*distance.euclidean(coordinate_gt[265],coordinate_gt[264])) +
                 distance.euclidean(coordinate_gt[269],coordinate_gt[262])
                    )
mean_false_naive_bayes = error_naive_bayes/len(comp_table_naive_bayes)
mean_false_naive_bayes

0.006349388617859719

In [58]:
#mean error in total
mean_error_naive_bayes= error_naive_bayes/len(y_test)
mean_error_naive_bayes

2.882001615454442e-06

# svm

In [59]:
from sklearn.svm import SVC
SVM = SVC(kernel = 'linear')
SVM.fit(X_train, y_train)

SVC(kernel='linear')

In [60]:
y_pred_SVM = SVM.predict(X_test)

In [61]:
with open('50_1200_pred_svm.pkl','wb' ) as pickle_file:
    pickle.dump(y_pred_SVM,pickle_file)

#### error

In [62]:
percentage_SVM=accuracy_score(y_test, y_pred_SVM)
percentage_SVM

0.9526126078017783

In [63]:
true_false_svm = y_pred_SVM == y_test
type(true_false_svm)

numpy.ndarray

In [64]:
comp_table_SVM = pd.DataFrame({'y_pred_svm': y_pred_SVM,'y_test': y_test,'true_false_svm': true_false_svm})

In [65]:
comp_table_SVM_false=comp_table_SVM[(comp_table_SVM['true_false_svm'] == False)]

In [66]:
comp_table_SVM_false
len(comp_table_SVM_false)

17748

In [67]:
comp_table_SVM_false.drop_duplicates(['y_pred_svm','y_test'])

        y_pred_svm  y_test  true_false_svm
60             267     268           False
88             313     311           False
110            268     267           False
169            128     130           False
179            117     138           False
...            ...     ...             ...
272600         170     176           False
287388         310     312           False
294251         134     141           False
311749         156     177           False
364985         295     288           False

[270 rows x 3 columns]

In [68]:
diffs_svm = comp_table_SVM_false.pivot_table(index= ['y_pred_svm', 'y_test'], aggfunc='size')
pd.set_option('display.max_rows', None)
diffs_svm

y_pred_svm  y_test
3           1           18
            2            4
            4           16
            6           29
            8           15
7           2           59
            5            9
            9            9
13          11         164
            15           8
14          8            3
            10          34
            12          32
            16          32
19          17          16
            21          29
            23           7
20          18           9
            22           5
24          27         254
28          25           8
            26          78
31          29          14
            33          12
            35           5
34          30           9
            32          15
            37          22
38          35          56
            41          34
            44          72
40          37          24
            65          14
43          39           7
            42          44
            50          32
47          44          47
            45          12
48          52         123
51          49          17
            58          13
54          56          16
            60          11
57          42          74
            46          40
            55          14
59          58           5
            61          14
62          56          17
            64          15
63          53           9
            68          12
69          66           8
            71          28
            76          77
            81           7
70          68          39
            74           6
72          67          12
            78           7
73          65           7
75          74           9
            77          35
76          81           1
            91           8
80          77           5
82          79           4
            85         168
84          78           4
            93          12
            99          69
86          83           6
            95          19
89          87          11
            88          10
90          88          18
            92          14
            94          60
97          95          10
            101         15
100         94          31
            98          19
            104         17
102         91          40
            96          33
105         111          6
108         99          33
            103         28
            112         10
110         102        109
            106          9
            120         15
113         109         13
            115         19
            123         18
116         114         50
            121         18
117         127         25
            138         90
122         121         19
            125         34
            128         16
126         119         31
128         130         31
129         140         38
            149         52
131         124         18
            135         26
            145          3
133         132         13
            136        126
134         126        264
            141          1
            147         32
137         142        203
142         146         14
143         139         31
            144         16
            148         35
151         146         14
153         148         57
            152         19
            154         10
155         151        175
            159         37
156         154         26
            161         37
            177          1
163         162          3
            164         14
165         162         10
            167         17
166         159          1
            164          2
168         158         35
            160         66
            179         15
170         171         35
            176          1
172         175         14
174         167          6
            172          6
            173         30
177         186         33
178         160          5
            169         17
            182          4
            183         23
180         176         10
            188         20
181         138         22
            150         15
187         145         29
            157         15
            198        240
189         183         11
            184         28
            191         16
190         188         15
            194         13
192         185         32
196         181        260
            206         10
            213         48
197         193         15
            199         77
            201         74
            203         12
198         208         15
200         194         13
            207        105
201         203         19
            204         34
205         195         17
            215         37
211         192          1
            202         26
            220          1
212         209         22
            217         34
            223         54
214         204          2
            210         79
            224         38
            238          6
216         208          4
            228          7
221         225          7
222         218          1
            229         36
            239         58
231         213         48
            219         35
            242         28
232         230         11
            236          9
            237        117
233         223         28
            227         16
            235         13
234         220         30
239         243         19
241         228         15
            246         20
244         249         33
247         234         42
            255         34
248         254         13
251         246         13
            250         15
253         239         53
            243          7
256         245         56
            252         11
            259         17
            261          1
257         254          4
            262         20
258         255          4
            264         16
260         253        140
            265          1
            272         14
261         259         16
263         261        242
            266         30
267         268       3585
268         267       5601
            269         14
269         271         31
270         262         27
            274        245
273         264          5
            278         32
            282          2
274         275         17
            277          6
276         271          3
            281          2
277         280         18
282         286         18
284         279         16
            290          8
285         281         22
            288          1
287         283        108
            291         36
293         289        132
            292         22
            294         18
295         288          1
            297         12
296         290          3
298         300         17
301         299         18
            303         14
304         302         19
            305         89
            307          6
306         303         23
            308         14
310         312          1
311         309         17
313         309         16
            311        103
            315         22
314         312         18
            316          2
317         315         17
            316         13
dtype: int64

In [69]:
ground_truth_drop_duplicate_numpy[276]

array([279.  ,   1.44,   5.14])

In [70]:
error_svm=(
    # 3
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[0])) +
                (1*distance.euclidean(coordinate_gt[2],coordinate_gt[1])) +
                (2*distance.euclidean(coordinate_gt[2],coordinate_gt[3])) +
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[5])) +
    #7
                (25*distance.euclidean(coordinate_gt[6],coordinate_gt[1])) +
                (5*distance.euclidean(coordinate_gt[6],coordinate_gt[4])) +
                (1*distance.euclidean(coordinate_gt[6],coordinate_gt[8])) +
    #10
                (10*distance.euclidean(coordinate_gt[9],coordinate_gt[7])) +
    #11
                (1*distance.euclidean(coordinate_gt[10],coordinate_gt[8])) +
    #13
                (69*distance.euclidean(coordinate_gt[12],coordinate_gt[10])) +
                (5*distance.euclidean(coordinate_gt[12],coordinate_gt[14])) +
    #14
                (15*distance.euclidean(coordinate_gt[13],coordinate_gt[9])) +
                (14*distance.euclidean(coordinate_gt[13],coordinate_gt[11])) +
                (11*distance.euclidean(coordinate_gt[13],coordinate_gt[15])) +
    #19 
                (6*distance.euclidean(coordinate_gt[18],coordinate_gt[16])) +
                (11*distance.euclidean(coordinate_gt[18],coordinate_gt[20])) +
                (1*distance.euclidean(coordinate_gt[18],coordinate_gt[22])) +
    #20
                (4*distance.euclidean(coordinate_gt[19],coordinate_gt[18])) +
    #27
                (1*distance.euclidean(coordinate_gt[26],coordinate_gt[28])) +
                (8*distance.euclidean(coordinate_gt[26],coordinate_gt[30])) +
    #28
                (5*distance.euclidean(coordinate_gt[27],coordinate_gt[24])) +
                (42*distance.euclidean(coordinate_gt[27],coordinate_gt[25])) +
                (3*distance.euclidean(coordinate_gt[27],coordinate_gt[29])) +
    #31
                (5*distance.euclidean(coordinate_gt[30],coordinate_gt[28])) +
                (6*distance.euclidean(coordinate_gt[30],coordinate_gt[32])) +
                (2*distance.euclidean(coordinate_gt[30],coordinate_gt[34])) +
    #34
                (5*distance.euclidean(coordinate_gt[33],coordinate_gt[31])) +
                (3*distance.euclidean(coordinate_gt[33],coordinate_gt[36])) +
    #38
                (16*distance.euclidean(coordinate_gt[37],coordinate_gt[34])) +
                (9*distance.euclidean(coordinate_gt[37],coordinate_gt[40])) +
    #40
                (9*distance.euclidean(coordinate_gt[39],coordinate_gt[36])) +
                (3*distance.euclidean(coordinate_gt[39],coordinate_gt[64])) +
    #43 
                (3*distance.euclidean(coordinate_gt[42],coordinate_gt[38])) +
                (13*distance.euclidean(coordinate_gt[42],coordinate_gt[49])) +
    #47
                (5*distance.euclidean(coordinate_gt[46],coordinate_gt[44])) +
                (1*distance.euclidean(coordinate_gt[46],coordinate_gt[48])) +
    #48
                (56*distance.euclidean(coordinate_gt[47],coordinate_gt[51])) +
    #51
                (5*distance.euclidean(coordinate_gt[50],coordinate_gt[48])) +
                (4*distance.euclidean(coordinate_gt[50],coordinate_gt[57])) +
    #54
                (11*distance.euclidean(coordinate_gt[53],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[53],coordinate_gt[59])) +
    #57
                (17*distance.euclidean(coordinate_gt[56],coordinate_gt[45])) +
                (8*distance.euclidean(coordinate_gt[56],coordinate_gt[54])) +
    #59
                (5*distance.euclidean(coordinate_gt[58],coordinate_gt[60])) +
    #62
                (3*distance.euclidean(coordinate_gt[61],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[61],coordinate_gt[64])) +
    #63
                (3*distance.euclidean(coordinate_gt[62],coordinate_gt[52])) +
                (4*distance.euclidean(coordinate_gt[62],coordinate_gt[67])) +
    #69
                (1*distance.euclidean(coordinate_gt[68],coordinate_gt[65])) +
                (17*distance.euclidean(coordinate_gt[68],coordinate_gt[70])) +
                (27*distance.euclidean(coordinate_gt[68],coordinate_gt[75])) +
    #70
                (13*distance.euclidean(coordinate_gt[69],coordinate_gt[67])) +
                (2*distance.euclidean(coordinate_gt[69],coordinate_gt[73])) +
    #72
                (4*distance.euclidean(coordinate_gt[71],coordinate_gt[66])) +
                (5*distance.euclidean(coordinate_gt[71],coordinate_gt[77])) +
    #73
                (6*distance.euclidean(coordinate_gt[72],coordinate_gt[64])) +
                (2*distance.euclidean(coordinate_gt[72],coordinate_gt[78])) +
    #75
                (6*distance.euclidean(coordinate_gt[74],coordinate_gt[76])) +
                (2*distance.euclidean(coordinate_gt[74],coordinate_gt[73])) +
    #76
                (2*distance.euclidean(coordinate_gt[75],coordinate_gt[80])) +
                (5*distance.euclidean(coordinate_gt[75],coordinate_gt[90])) +
    #80
                (3*distance.euclidean(coordinate_gt[79],coordinate_gt[3])) +
                (1*distance.euclidean(coordinate_gt[79],coordinate_gt[82])) +
    #82
                (64*distance.euclidean(coordinate_gt[81],coordinate_gt[84])) +
    #84 
                (3*distance.euclidean(coordinate_gt[83],coordinate_gt[77])) +
                (2*distance.euclidean(coordinate_gt[93],coordinate_gt[83])) +
                (4*distance.euclidean(coordinate_gt[83],coordinate_gt[98])) +
    #86
                (6*distance.euclidean(coordinate_gt[85],coordinate_gt[94])) +
    #89
                (2*distance.euclidean(coordinate_gt[88],coordinate_gt[86])) +
                (7*distance.euclidean(coordinate_gt[88],coordinate_gt[87])) +
    #90 
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[87])) +
                (5*distance.euclidean(coordinate_gt[89],coordinate_gt[91])) +
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[93])) +
    #97
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[94]))+
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[100]))+
    #100
                (7*distance.euclidean(coordinate_gt[99],coordinate_gt[97]))+
                (8*distance.euclidean(coordinate_gt[99],coordinate_gt[103]))+
    #102
                (12*distance.euclidean(coordinate_gt[101],coordinate_gt[90]))+
                (13*distance.euclidean(coordinate_gt[101],coordinate_gt[95]))+
    #105
                (1*distance.euclidean(coordinate_gt[104],coordinate_gt[100]))+
                (2*distance.euclidean(coordinate_gt[104],coordinate_gt[110]))+
    #108
                (11*distance.euclidean(coordinate_gt[106],coordinate_gt[102]))+
                (2*distance.euclidean(coordinate_gt[106],coordinate_gt[110]))+
    #110
                (2*distance.euclidean(coordinate_gt[108],coordinate_gt[105]))+
                (4*distance.euclidean(coordinate_gt[108],coordinate_gt[118]))+
    #113
                (10*distance.euclidean(coordinate_gt[111],coordinate_gt[107]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[113]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[121]))+
    #116
                (10*distance.euclidean(coordinate_gt[114],coordinate_gt[112]))+
                (11*distance.euclidean(coordinate_gt[114],coordinate_gt[119]))+
    #117
                (1*distance.euclidean(coordinate_gt[115],coordinate_gt[109]))+
                (12*distance.euclidean(coordinate_gt[115],coordinate_gt[125]))+
                (2*distance.euclidean(coordinate_gt[115],coordinate_gt[136]))+
    #118
                (6*distance.euclidean(coordinate_gt[116],coordinate_gt[112]))+
                (5*distance.euclidean(coordinate_gt[116],coordinate_gt[122]))+
    #122
                (8*distance.euclidean(coordinate_gt[120],coordinate_gt[119]))+
                (10*distance.euclidean(coordinate_gt[120],coordinate_gt[123]))+
    #126
                (14*distance.euclidean(coordinate_gt[124],coordinate_gt[117]))+
    #128
                (14*distance.euclidean(coordinate_gt[126],coordinate_gt[128]))+
                (1*distance.euclidean(coordinate_gt[126],coordinate_gt[123]))+
                
    #129
                (2*distance.euclidean(coordinate_gt[127],coordinate_gt[118]))+
                (9*distance.euclidean(coordinate_gt[127],coordinate_gt[148]))+
                (22*distance.euclidean(coordinate_gt[127],coordinate_gt[147]))+
    #131
                (4*distance.euclidean(coordinate_gt[129],coordinate_gt[122]))+
                (8*distance.euclidean(coordinate_gt[129],coordinate_gt[133]))+
    #133
                (7*distance.euclidean(coordinate_gt[131],coordinate_gt[130]))+
                (48*distance.euclidean(coordinate_gt[131],coordinate_gt[134]))+
    #134
                (39*distance.euclidean(coordinate_gt[132],coordinate_gt[124]))+
                (17*distance.euclidean(coordinate_gt[132],coordinate_gt[145]))+
    #142
                (5*distance.euclidean(coordinate_gt[140],coordinate_gt[144]))+
    #143
                (13*distance.euclidean(coordinate_gt[141],coordinate_gt[137]))+
                (7*distance.euclidean(coordinate_gt[141],coordinate_gt[142]))+
                (16*distance.euclidean(coordinate_gt[141],coordinate_gt[146]))+
    #151
                (10*distance.euclidean(coordinate_gt[149],coordinate_gt[144]))+
    #153
                (17*distance.euclidean(coordinate_gt[151],coordinate_gt[146]))+
                (7*distance.euclidean(coordinate_gt[151],coordinate_gt[150]))+
                (5*distance.euclidean(coordinate_gt[151],coordinate_gt[152]))+
    #155
                (4*distance.euclidean(coordinate_gt[153],coordinate_gt[157]))+
    #156
                (8*distance.euclidean(coordinate_gt[154],coordinate_gt[152]))+
                (16*distance.euclidean(coordinate_gt[154],coordinate_gt[159]))+
    #163
                (1*distance.euclidean(coordinate_gt[161],coordinate_gt[160]))+
    #165
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[160]))+
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[165]))+
    #166
                (5*distance.euclidean(coordinate_gt[164],coordinate_gt[157]))+
                (6*distance.euclidean(coordinate_gt[164],coordinate_gt[162]))+
    #168
                (12*distance.euclidean(coordinate_gt[166],coordinate_gt[156]))+
                (30*distance.euclidean(coordinate_gt[166],coordinate_gt[158]))+
                (6*distance.euclidean(coordinate_gt[166],coordinate_gt[177]))+
    #170
                (15*distance.euclidean(coordinate_gt[168],coordinate_gt[169]))+
                (1*distance.euclidean(coordinate_gt[168],coordinate_gt[174]))+
    #172
                (8*distance.euclidean(coordinate_gt[170],coordinate_gt[173]))+
    #174
                (5*distance.euclidean(coordinate_gt[172],coordinate_gt[165]))+
                (18*distance.euclidean(coordinate_gt[172],coordinate_gt[171]))+
    #177
                (10*distance.euclidean(coordinate_gt[175],coordinate_gt[184]))+
    #178
                (11*distance.euclidean(coordinate_gt[176],coordinate_gt[158]))+
                (10*distance.euclidean(coordinate_gt[176],coordinate_gt[167]))+
                (12*distance.euclidean(coordinate_gt[176],coordinate_gt[181]))+
    #180
                (4*distance.euclidean(coordinate_gt[178],coordinate_gt[174]))+
                (10*distance.euclidean(coordinate_gt[178],coordinate_gt[186]))+
    #181
                (6*distance.euclidean(coordinate_gt[179],coordinate_gt[148]))+
    #187
                (9*distance.euclidean(coordinate_gt[185],coordinate_gt[155]))+
    #189
                (4*distance.euclidean(coordinate_gt[187],coordinate_gt[181]))+
                (13*distance.euclidean(coordinate_gt[187],coordinate_gt[182]))+
                (6*distance.euclidean(coordinate_gt[187],coordinate_gt[189]))+
    #190 
                (8*distance.euclidean(coordinate_gt[188],coordinate_gt[186]))+
                (11*distance.euclidean(coordinate_gt[188],coordinate_gt[192]))+
    #192
                (10*distance.euclidean(coordinate_gt[190],coordinate_gt[183]))+
                (3*distance.euclidean(coordinate_gt[190],coordinate_gt[200]))+
    #196
                (44*distance.euclidean(coordinate_gt[194],coordinate_gt[179]))+
                (3*distance.euclidean(coordinate_gt[194],coordinate_gt[204]))+
                (20*distance.euclidean(coordinate_gt[164],coordinate_gt[211]))+
    #197
                (7*distance.euclidean(coordinate_gt[195],coordinate_gt[191]))+
                (32*distance.euclidean(coordinate_gt[195],coordinate_gt[197]))+
                (38*distance.euclidean(coordinate_gt[195],coordinate_gt[199]))+
    #198 
                (2*distance.euclidean(coordinate_gt[196],coordinate_gt[206]))+
    #200
                (6*distance.euclidean(coordinate_gt[192],coordinate_gt[198]))+
                (41*distance.euclidean(coordinate_gt[198],coordinate_gt[205]))+
                
    #201
                (16*distance.euclidean(coordinate_gt[199],coordinate_gt[201]))+
                (12*distance.euclidean(coordinate_gt[199],coordinate_gt[202]))+
    #205
                (4*distance.euclidean(coordinate_gt[203],coordinate_gt[193]))+
                (11*distance.euclidean(coordinate_gt[203],coordinate_gt[213]))+
    #211
                (9*distance.euclidean(coordinate_gt[209],coordinate_gt[200]))+
                (6*distance.euclidean(coordinate_gt[209],coordinate_gt[218]))+
    #212
                (11*distance.euclidean(coordinate_gt[210],coordinate_gt[207]))+
                (17*distance.euclidean(coordinate_gt[210],coordinate_gt[215]))+
                (23*distance.euclidean(coordinate_gt[210],coordinate_gt[221]))+
    #214
                (37*distance.euclidean(coordinate_gt[212],coordinate_gt[208]))+
                (17*distance.euclidean(coordinate_gt[212],coordinate_gt[222]))+
                (4*distance.euclidean(coordinate_gt[212],coordinate_gt[236]))+
    #216
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[206]))+
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[226]))+
    #221
                (3*distance.euclidean(coordinate_gt[219],coordinate_gt[223]))+
    #222
                (11*distance.euclidean(coordinate_gt[220],coordinate_gt[227]))+
                (1*distance.euclidean(coordinate_gt[220],coordinate_gt[237]))+
    #226
                (4*distance.euclidean(coordinate_gt[224],coordinate_gt[213]))+
    #231
                (15*distance.euclidean(coordinate_gt[229],coordinate_gt[211]))+
                (12*distance.euclidean(coordinate_gt[229],coordinate_gt[217]))+
                (5*distance.euclidean(coordinate_gt[229],coordinate_gt[239]))+
    #232
                (7*distance.euclidean(coordinate_gt[230],coordinate_gt[228]))+
                (3*distance.euclidean(coordinate_gt[230],coordinate_gt[234]))+
    #233
                (14*distance.euclidean(coordinate_gt[231],coordinate_gt[221]))+
                (8*distance.euclidean(coordinate_gt[231],coordinate_gt[225]))+
                (3*distance.euclidean(coordinate_gt[231],coordinate_gt[233]))+
    #234
                (14*distance.euclidean(coordinate_gt[232],coordinate_gt[218]))+
    #241
                (5*distance.euclidean(coordinate_gt[238],coordinate_gt[226]))+
                (4*distance.euclidean(coordinate_gt[219],coordinate_gt[243]))+
    #244
                (7*distance.euclidean(coordinate_gt[241],coordinate_gt[239]))+
                (8*distance.euclidean(coordinate_gt[241],coordinate_gt[246]))+
    #247
                (9*distance.euclidean(coordinate_gt[243],coordinate_gt[252]))+
    #248
                (2*distance.euclidean(coordinate_gt[245],coordinate_gt[251]))+
    #251
                (10*distance.euclidean(coordinate_gt[248],coordinate_gt[243]))+
                (6*distance.euclidean(coordinate_gt[248],coordinate_gt[247]))+
    #253
                (12*distance.euclidean(coordinate_gt[250],coordinate_gt[240]))+
    #256
                (20*distance.euclidean(coordinate_gt[253],coordinate_gt[242]))+
                (7*distance.euclidean(coordinate_gt[253],coordinate_gt[249]))+
                (9*distance.euclidean(coordinate_gt[253],coordinate_gt[256]))+
    #257
                (4*distance.euclidean(coordinate_gt[254],coordinate_gt[251]))+
                (8*distance.euclidean(coordinate_gt[254],coordinate_gt[259]))+
    #258
                (4*distance.euclidean(coordinate_gt[255],coordinate_gt[252]))+
                (9*distance.euclidean(coordinate_gt[255],coordinate_gt[261]))+
    #260
                (56*distance.euclidean(coordinate_gt[257],coordinate_gt[250]))+
                (1*distance.euclidean(coordinate_gt[257],coordinate_gt[262]))+
    #261
                (7*distance.euclidean(coordinate_gt[258],coordinate_gt[256]))+
    #263
                (11*distance.euclidean(coordinate_gt[260],coordinate_gt[263]))+
                (2*distance.euclidean(coordinate_gt[260],coordinate_gt[258]))+
    #267
                (1568*distance.euclidean(coordinate_gt[264],coordinate_gt[265]))+
    #268
                (2133*distance.euclidean(coordinate_gt[265],coordinate_gt[264]))+
    #269
                (7*distance.euclidean(coordinate_gt[266],coordinate_gt[268]))+
    #270
                (14*distance.euclidean(coordinate_gt[267],coordinate_gt[259]))+
                (53*distance.euclidean(coordinate_gt[267],coordinate_gt[271]))+
    #272
                (1*distance.euclidean(coordinate_gt[269],coordinate_gt[276]))+
    #273
                (12*distance.euclidean(coordinate_gt[270],coordinate_gt[275]))+
    #274
                (2*distance.euclidean(coordinate_gt[271],coordinate_gt[272]))+
    #276
                (5*distance.euclidean(coordinate_gt[273],coordinate_gt[268]))+
                (7*distance.euclidean(coordinate_gt[273],coordinate_gt[279]))+
    #277
                (1*distance.euclidean(coordinate_gt[274],coordinate_gt[272]))+
                (5*distance.euclidean(coordinate_gt[274],coordinate_gt[277]))+
    #282
                (5*distance.euclidean(coordinate_gt[279],coordinate_gt[283]))+
    #284
                (7*distance.euclidean(coordinate_gt[281],coordinate_gt[277]))+
                (6*distance.euclidean(coordinate_gt[281],coordinate_gt[287])) +
    #285
                (9*distance.euclidean(coordinate_gt[283],coordinate_gt[278])) +
                (1*distance.euclidean(coordinate_gt[283],coordinate_gt[285])) +
    #287
                (44*distance.euclidean(coordinate_gt[285],coordinate_gt[280])) +
                (10*distance.euclidean(coordinate_gt[285],coordinate_gt[288])) +
    #289
                (3*distance.euclidean(coordinate_gt[286],coordinate_gt[283])) +
    #293
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[289])) +
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[291])) +
    #295
                (5*distance.euclidean(coordinate_gt[292],coordinate_gt[294])) +
    #296
                (5*distance.euclidean(coordinate_gt[293],coordinate_gt[287])) +
                (1*distance.euclidean(coordinate_gt[293],coordinate_gt[296])) +
    #298
                (2*distance.euclidean(coordinate_gt[295],coordinate_gt[294])) +
                (10*distance.euclidean(coordinate_gt[295],coordinate_gt[297])) +
    #301
                (8*distance.euclidean(coordinate_gt[298],coordinate_gt[300])) +
    #304 
                (6*distance.euclidean(coordinate_gt[301],coordinate_gt[299])) +
                (28*distance.euclidean(coordinate_gt[301],coordinate_gt[302])) +
                (7*distance.euclidean(coordinate_gt[301],coordinate_gt[304])) +
    #306
                (3*distance.euclidean(coordinate_gt[303],coordinate_gt[300])) +
                (4*distance.euclidean(coordinate_gt[303],coordinate_gt[305])) +
    #310
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[305])) +
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[309])) +
    #311
                (8*distance.euclidean(coordinate_gt[309],coordinate_gt[306])) +
    #313
                (2*distance.euclidean(coordinate_gt[310],coordinate_gt[306])) +
                (46*distance.euclidean(coordinate_gt[310],coordinate_gt[308])) +
                (10*distance.euclidean(coordinate_gt[310],coordinate_gt[312])) +
    #314
                (7*distance.euclidean(coordinate_gt[311],coordinate_gt[309])) +
                (1*distance.euclidean(coordinate_gt[311],coordinate_gt[313])) +
    #317
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[312])) +
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[313])) 
                )
            
                
mean_false_svm = error_svm/len(comp_table_SVM_false)
mean_false_svm,error_svm

(0.08842324721512859, 1569.3357915741024)

In [71]:
#mean error in total 
mean_error_svm = error_svm/len(y_test)
mean_error_svm

0.00419014709522362