# Data Preprocessing

In [23]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from scipy.spatial import distance
import pickle

In [24]:
dataset = pd.read_csv('Dataset_TA.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749059 entries, 0 to 749058
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PosId   749059 non-null  int64
 1   gtx     749059 non-null  float64
 2   gty     749059 non-null  float64
 3   ap1x    749059 non-null  float64
 4   ap1y    749059 non-null  float64
 5   rtt1    749059 non-null  float64
 6   ap2x    749059 non-null  float64
 7   ap2y    749059 non-null  float64
 8   rtt2    749059 non-null  float64
 9   ap3x    749059 non-null  float64
 10  ap3y    749059 non-null  float64
 11  rtt3    749059 non-null  float64
 12  ap4x    749059 non-null  float64
 13  ap4y    749059 non-null  float64
 14  rtt4    749059 non-null  float64
 15  ap5x    749059 non-null  float64
 16  ap5y    749059 non-null  float64
 17  rtt5    749059 non-null  float64
 18  ap6x    749059 non-null  float64
 19  ap6y    749059 non-null  float64
 20  rtt6    749059 non-null  float64
dtypes: float64(20), int64(1)
memory usage: 120.0 MB

,PosId,gtx,gty,ap1x,ap1y,rtt1,ap2x,ap2y,rtt2,ap3x,...,rtt3,ap4x,ap4y,rtt4,ap5x,ap5y,rtt5,ap6x,ap6y,rtt6
0,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371429
1,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247991,3.34,10.26,0.371428
2,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371429
3,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030874,-5.93,13.03,0.247992,3.34,10.26,0.371428
4,1,-8.38,16.31,-4.89,20.3,0.391323,0.28,22.75,0.038114,4.79,...,0.037251,-5.64,6.03,0.030873,-5.93,13.03,0.247991,3.34,10.26,0.371429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749054,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749055,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247454,3.34,10.26,0.371827
749056,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371828
749057,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827
749058,317,3.95,5.89,-4.89,20.3,0.391516,0.28,22.75,0.039277,4.79,...,0.037281,-5.64,6.03,0.031891,-5.93,13.03,0.247455,3.34,10.26,0.371827

In [25]:
rtt = dataset[['rtt1','rtt2','rtt3','rtt4','rtt5','rtt6']].to_numpy()
gt_coordinates_x = dataset['gtx'].to_numpy()
gt_coordinates_y = dataset['gty'].to_numpy()
pos_id = dataset['PosId'].to_numpy()
ap1x = dataset['ap1x'].to_numpy()
ap1y = dataset['ap1y'].to_numpy()
ap2x = dataset['ap2x'].to_numpy()
ap2y = dataset['ap2y'].to_numpy()
ap3x = dataset['ap3x'].to_numpy()
ap3y = dataset['ap3y'].to_numpy()
ap4x = dataset['ap4x'].to_numpy()
ap4y = dataset['ap4y'].to_numpy()
ap5x = dataset['ap5x'].to_numpy()
ap5y = dataset['ap5y'].to_numpy()
ap6x = dataset['ap6x'].to_numpy()
ap6y = dataset['ap6y'].to_numpy()

In [26]:
ground_truth = pd.DataFrame({'pos_id':pos_id,'x':gt_coordinates_x,'y':gt_coordinates_y})

In [27]:
ground_truth[(ground_truth['pos_id'] ==107)]

Empty DataFrame
Columns: [pos_id, x, y]
Index: []

In [28]:
ground_truth_drop_duplicate= ground_truth.drop_duplicates(['pos_id'])
ground_truth_drop_duplicate_numpy = ground_truth_drop_duplicate.to_numpy() 
coordinate_gt_df = ground_truth_drop_duplicate.iloc[:,1:]
coordinate_gt = coordinate_gt_df.to_numpy()
ground_truth_drop_duplicate
coordinate_gt_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

In [29]:
coordinate_gt[38]

array([-4.06, 20.48])

In [30]:
from sklearn.model_selection import train_test_split
X = rtt
y = pos_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 500)

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
with open('posid_coordinates.pkl','rb') as pickle_file:
    ground_truth_duplicate = pickle.load(pickle_file)

In [33]:
with open('coordinate_gt.pkl','rb') as pickle_file:
    gt_coordinate = pickle.load(pickle_file)

In [34]:
gt_coordinate_df =  ground_truth_duplicate.iloc[:,1:]
gt_coordinate_df

           x      y
0      -8.38  16.31
48     -8.32  16.19
156    -8.30  16.40
399    -8.12  16.48
431    -8.11  16.09
...      ...    ...
746641  3.73   6.05
747370  3.84   5.56
748234  3.88   6.03
748298  3.94   5.70
748330  3.95   5.89

[315 rows x 2 columns]

# knn

In [35]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2,weights='uniform')
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [36]:
y_pred_knn = knn.predict(X_test)

In [37]:
with open('50_500_y_pred_knn.pkl','wb') as pickle_file:
    pickle.dump(y_pred_knn,pickle_file)

#### error

In [38]:
percentage_knn = accuracy_score(y_test,y_pred_knn)
percentage_knn

0.9999813099084186

In [39]:
true_false_knn = y_pred_knn == y_test

In [40]:
comp_table_knn = pd.DataFrame({'y_pred_knn': y_pred_knn,'y_test': y_test,'true_false_knn': true_false_knn})

In [41]:
comp_table_knn[(comp_table_knn['true_false_knn'] == False)]

        y_pred_knn  y_test  true_false_knn
34283           38      36           False
60992          178     182           False
117511         178     182           False
201594         178     182           False
251530         178     182           False
292663         178     182           False
353081         178     182           False

In [42]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [43]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [44]:
#error distance
error_knn = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_knn

0.23086792761230387

In [45]:
#mean error in total
mean_error_knn = error_knn/len(y_test)
mean_error_knn

6.164203871847486e-07

# random forrest

In [46]:
from sklearn.ensemble import RandomForestClassifier
Random_Forest = RandomForestClassifier(n_estimators = 10, criterion = 'gini')
Random_Forest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [47]:
y_pred_Random_Forest = Random_Forest.predict(X_test)

In [48]:
with open('50_500_y_pred_random_forest.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Random_Forest,pickle_file)

#### error

In [49]:
percentage_Random_Forest=accuracy_score(y_test, y_pred_Random_Forest)
percentage_Random_Forest

0.9999973299869169

In [50]:
true_false_random_forrest = y_pred_Random_Forest == y_test

In [51]:
comp_table_random_forrest = pd.DataFrame({'y_pred_random_forrest': y_pred_Random_Forest,'y_test': y_test,'true_false_random_forrest': true_false_random_forrest})
comp_table_random_forrest

        y_pred_random_forrest  y_test  true_false_random_forrest
0                         268     268                       True
1                         137     137                       True
2                         197     197                       True
3                         268     268                       True
4                         137     137                       True
...                       ...     ...                        ...
374525                     75      75                       True
374526                    285     285                       True
374527                    137     137                       True
374528                    268     268                       True
374529                    137     137                       True

[374530 rows x 3 columns]

In [52]:
comp_table_random_forrest[(comp_table_random_forrest['true_false_random_forrest'] == False)]

       y_pred_random_forrest  y_test  true_false_random_forrest
34283                     38      36                      False

In [53]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [54]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [55]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [56]:
#mean error in total
mean_error_random_forest = error_knn/len(y_test)
mean_error_random_forest

6.164203871847486e-07

# decision tree

In [57]:
from sklearn.tree import DecisionTreeClassifier
Decision_Tree = DecisionTreeClassifier(criterion = 'gini')
Decision_Tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [58]:
y_pred_Decision_Tree = Decision_Tree.predict(X_test)

In [59]:
with open('50_500_pred_decision_tree.pkl','wb') as pickle_file:
    pickle.dump(y_pred_Decision_Tree,pickle_file)

#### error

In [60]:
percentage_Decision_Tree=accuracy_score(y_test, y_pred_Decision_Tree)
percentage_Decision_Tree

0.9999866499345846

In [61]:
true_false_decision_tree = y_pred_Decision_Tree == y_test

In [62]:
comp_table_decision_tree = pd.DataFrame({'y_pred_decision_tree': y_pred_Decision_Tree,'y_test': y_test,'true_false_decision_tree': true_false_decision_tree})

In [63]:
comp_table_decision_tree[(comp_table_decision_tree['true_false_decision_tree'] == False)]

        y_pred_decision_tree  y_test  true_false_decision_tree
34283                     38      36                     False
117511                   178     182                     False
201594                   178     182                     False
251530                   178     182                     False
292663                   178     182                     False

In [64]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 272)]

        pos_id     x    y
735393     272  1.22  5.1

In [65]:
ground_truth_drop_duplicate_numpy[262]

array([265.  ,   0.99,   5.08])

In [66]:
#error distance
error_random_forest = distance.euclidean(coordinate_gt[269],coordinate_gt[262])
error_random_forest

0.23086792761230387

In [67]:
#mean error in total
mean_error_random_forest = error_random_forest/len(y_test)
mean_error_random_forest

6.164203871847486e-07

# naive bayes

In [68]:
from sklearn.naive_bayes import GaussianNB
Naive_Bayes= GaussianNB()
Naive_Bayes.fit(X_train, y_train)

GaussianNB()

In [69]:
y_pred_naive_bayes = Naive_Bayes.predict(X_test)

In [70]:
with open('50_500_y_pred_naive_bayes.pkl','wb') as pickle_file:
    pickle.dump(y_pred_naive_bayes,pickle_file)

#### error

In [71]:
percentage_naive_bayes=accuracy_score(y_test, y_pred_naive_bayes)
percentage_naive_bayes

0.9996261981683711

In [72]:
true_false_naive_bayes = y_pred_naive_bayes == y_test
true_false_naive_bayes

array([ True,  True,  True, ...,  True,  True,  True])

In [73]:
comp_table_naive_bayes = pd.DataFrame({'y_pred_naive_bayes': y_pred_naive_bayes,'y_test': y_test,'true_false_naive_bayes': true_false_naive_bayes})

In [74]:
comp_table_naive_bayes = comp_table_naive_bayes[(comp_table_naive_bayes['true_false_naive_bayes'] == False)]
comp_table_naive_bayes

        y_pred_naive_bayes  y_test  true_false_naive_bayes
85                     268     267                   False
627                    268     267                   False
11890                  268     267                   False
12846                  268     267                   False
13987                  268     267                   False
...                    ...     ...                     ...
365021                 268     267                   False
370413                 268     267                   False
373298                 268     267                   False
373506                 268     267                   False
373707                 268     267                   False

[140 rows x 3 columns]

In [75]:
comp_table_naive_bayes.drop_duplicates(['y_pred_naive_bayes','y_test'])

        y_pred_naive_bayes  y_test  true_false_naive_bayes
85                     268     267                   False
34283                   38      36                   False
117511                 178     182                   False
325994                 267     268                   False

In [76]:
diffs_naive_bayes = comp_table_naive_bayes.pivot_table(index= ['y_pred_naive_bayes', 'y_test'], aggfunc='size')
print(diffs_naive_bayes)

y_pred_naive_bayes  y_test
38                  36          1
178                 182         4
267                 268         1
268                 267       134
dtype: int64

In [77]:
ground_truth_duplicate[(ground_truth_drop_duplicate['pos_id'] == 108)]

       pos_id    x      y
33251     108 -2.5  21.59

In [78]:
ground_truth_drop_duplicate_numpy[258]

array([261.  ,   0.88,   5.07])

In [79]:
#error distance
error_naive_bayes =(
                (60*distance.euclidean(coordinate_gt[265],coordinate_gt[264])) +
                 distance.euclidean(coordinate_gt[269],coordinate_gt[262])
                    )
mean_false_naive_bayes = error_naive_bayes/len(comp_table_naive_bayes)
mean_false_naive_bayes

0.007709971893115374

In [80]:
#mean error in total
mean_error_naive_bayes= error_naive_bayes/len(y_test)
mean_error_naive_bayes

2.882001615454442e-06

# svm

In [81]:
from sklearn.svm import SVC
SVM = SVC(kernel = 'linear')
SVM.fit(X_train, y_train)

SVC(kernel='linear')

In [82]:
y_pred_SVM = SVM.predict(X_test)

In [83]:
with open('50_500_pred_svm.pkl','wb' ) as pickle_file:
    pickle.dump(y_pred_SVM,pickle_file)

#### error

In [84]:
percentage_SVM=accuracy_score(y_test, y_pred_SVM)
percentage_SVM

0.9538247937414893

In [85]:
true_false_svm = y_pred_SVM == y_test
type(true_false_svm)

numpy.ndarray

In [86]:
comp_table_SVM = pd.DataFrame({'y_pred_svm': y_pred_SVM,'y_test': y_test,'true_false_svm': true_false_svm})

In [87]:
comp_table_SVM_false=comp_table_SVM[(comp_table_SVM['true_false_svm'] == False)]

In [88]:
comp_table_SVM_false
len(comp_table_SVM_false)

17294

In [89]:
comp_table_SVM_false.drop_duplicates(['y_pred_svm','y_test'])

        y_pred_svm  y_test  true_false_svm
6               57      42           False
13             267     268           False
57             212     223           False
85             268     267           False
98               7       2           False
...            ...     ...             ...
267655         289     286           False
268312          80      83           False
296307          48      53           False
296439          34      30           False
366793         272     279           False

[271 rows x 3 columns]

In [90]:
diffs_svm = comp_table_SVM_false.pivot_table(index= ['y_pred_svm', 'y_test'], aggfunc='size')
pd.set_option('display.max_rows', None)
diffs_svm

y_pred_svm  y_test
3           1           24
            2           11
            4           18
            6           34
            8           30
7           2           44
            5            9
            9            8
13          11         158
            15          10
14          8            1
            10          43
            12          26
            16          30
19          17          18
            21          33
            23           8
20          18           7
            22           5
27          24         251
            29           1
28          25          10
            26          80
            30           7
31          29          11
            33          10
            35           2
34          30           1
            32          15
            37          26
38          35          41
            36           1
            41          31
            44          74
40          37          22
            65           4
43          39          10
            42          55
            50          27
47          44          57
            45          19
48          52         121
            53           1
51          47           4
            49          13
            58          11
54          56          18
            60          15
57          42          73
            46          32
            55          14
59          58           9
            61          11
62          56          19
            64          16
63          53           7
            68          11
69          66          10
            71          33
            76          67
            81           6
70          68          37
            74           7
72          67          14
            78           8
73          65          16
75          74           8
            77          28
76          81           2
            91           2
80          77           3
            83           2
82          79           2
            85         158
84          78           6
            93          17
            99          72
86          83           3
            95          23
89          87           4
            88          15
90          88          18
            92          16
            94          72
97          95          14
            101         14
100         94          45
            98          17
            104         17
102         91          42
            96          32
105         111          5
108         99          45
            103         34
            112          4
110         102         84
            106          6
113         109         17
            115         14
            123         13
116         114         32
            121         23
117         111          4
            127         33
            138         79
118         114         11
            124          2
122         121         20
            125         35
126         119         45
128         130         34
129         120         12
            140         31
            149         58
131         124         12
            135         31
133         132         11
            136        108
134         126        248
            147         32
137         142        159
142         146         19
143         139         34
            144         17
            148         29
151         146         20
153         148         54
            152         14
            154          3
155         151         42
            159         22
156         154         23
            161         37
            177         20
163         162          6
            164          3
165         162          9
            167          4
166         159          9
            164         10
168         158         33
            160         74
            179         11
170         171         39
            176          2
172         175         21
174         167         11
            172          7
            173         39
177         186         36
178         160          9
            169         11
            182          6
            183         24
180         176          9
            188         18
181         138         24
            150          7
187         157         15
189         183          5
            184         35
            191         19
190         188         11
            194         11
192         185         35
196         181        245
            206          6
            213         51
197         193         14
            199         69
            201         82
            203         11
198         208          9
200         194         27
            207        115
201         203         27
            204         25
205         195         15
            215         24
211         192          1
            202         25
            220         14
212         209         17
            217         35
            223         53
214         204          2
            210         87
            224         34
            238          6
216         208          6
            228          8
221         225          5
222         229         37
            239        116
226         215          3
231         213         34
            219         33
            242         30
232         230         15
            236         12
            237         35
233         223         34
            227         17
            235         16
234         220         20
239         243          1
241         228         15
            246         22
244         249         24
247         234        146
            255         29
248         254         19
251         246          8
            250         10
253         243         39
256         245         58
            252         15
            259         15
257         262         14
258         264          6
260         253        155
            272          2
261         259         12
263         261        242
            266         29
267         268       3600
268         267       5573
            269         12
269         271         31
270         262         25
            274        230
272         279          1
273         264         10
            278         29
            282         55
274         275         14
            277          1
276         271          3
            281          3
277         280         13
282         286         23
284         279         15
            290         11
285         281         30
            288          3
287         283        113
            291         32
289         286          1
293         289        110
            292         33
            294         13
295         288          1
            297         16
296         290          1
298         297          1
            300         18
301         299         21
            303         15
304         302         15
            305         87
            307          7
306         303         19
            308         16
311         309         25
313         309         11
            311        112
            315         18
314         312         14
            316          3
317         315         15
            316         13
dtype: int64

In [91]:
ground_truth_drop_duplicate_numpy[276]

array([279.  ,   1.44,   5.14])

In [92]:
error_svm=(
    # 3
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[0])) +
                (1*distance.euclidean(coordinate_gt[2],coordinate_gt[1])) +
                (2*distance.euclidean(coordinate_gt[2],coordinate_gt[3])) +
                (15*distance.euclidean(coordinate_gt[2],coordinate_gt[5])) +
    #7
                (25*distance.euclidean(coordinate_gt[6],coordinate_gt[1])) +
                (5*distance.euclidean(coordinate_gt[6],coordinate_gt[4])) +
                (1*distance.euclidean(coordinate_gt[6],coordinate_gt[8])) +
    #10
                (10*distance.euclidean(coordinate_gt[9],coordinate_gt[7])) +
    #11
                (1*distance.euclidean(coordinate_gt[10],coordinate_gt[8])) +
    #13
                (69*distance.euclidean(coordinate_gt[12],coordinate_gt[10])) +
                (5*distance.euclidean(coordinate_gt[12],coordinate_gt[14])) +
    #14
                (15*distance.euclidean(coordinate_gt[13],coordinate_gt[9])) +
                (14*distance.euclidean(coordinate_gt[13],coordinate_gt[11])) +
                (11*distance.euclidean(coordinate_gt[13],coordinate_gt[15])) +
    #19 
                (6*distance.euclidean(coordinate_gt[18],coordinate_gt[16])) +
                (11*distance.euclidean(coordinate_gt[18],coordinate_gt[20])) +
                (1*distance.euclidean(coordinate_gt[18],coordinate_gt[22])) +
    #20
                (4*distance.euclidean(coordinate_gt[19],coordinate_gt[18])) +
    #27
                (1*distance.euclidean(coordinate_gt[26],coordinate_gt[28])) +
                (8*distance.euclidean(coordinate_gt[26],coordinate_gt[30])) +
    #28
                (5*distance.euclidean(coordinate_gt[27],coordinate_gt[24])) +
                (42*distance.euclidean(coordinate_gt[27],coordinate_gt[25])) +
                (3*distance.euclidean(coordinate_gt[27],coordinate_gt[29])) +
    #31
                (5*distance.euclidean(coordinate_gt[30],coordinate_gt[28])) +
                (6*distance.euclidean(coordinate_gt[30],coordinate_gt[32])) +
                (2*distance.euclidean(coordinate_gt[30],coordinate_gt[34])) +
    #34
                (5*distance.euclidean(coordinate_gt[33],coordinate_gt[31])) +
                (3*distance.euclidean(coordinate_gt[33],coordinate_gt[36])) +
    #38
                (16*distance.euclidean(coordinate_gt[37],coordinate_gt[34])) +
                (9*distance.euclidean(coordinate_gt[37],coordinate_gt[40])) +
    #40
                (9*distance.euclidean(coordinate_gt[39],coordinate_gt[36])) +
                (3*distance.euclidean(coordinate_gt[39],coordinate_gt[64])) +
    #43 
                (3*distance.euclidean(coordinate_gt[42],coordinate_gt[38])) +
                (13*distance.euclidean(coordinate_gt[42],coordinate_gt[49])) +
    #47
                (5*distance.euclidean(coordinate_gt[46],coordinate_gt[44])) +
                (1*distance.euclidean(coordinate_gt[46],coordinate_gt[48])) +
    #48
                (56*distance.euclidean(coordinate_gt[47],coordinate_gt[51])) +
    #51
                (5*distance.euclidean(coordinate_gt[50],coordinate_gt[48])) +
                (4*distance.euclidean(coordinate_gt[50],coordinate_gt[57])) +
    #54
                (11*distance.euclidean(coordinate_gt[53],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[53],coordinate_gt[59])) +
    #57
                (17*distance.euclidean(coordinate_gt[56],coordinate_gt[45])) +
                (8*distance.euclidean(coordinate_gt[56],coordinate_gt[54])) +
    #59
                (5*distance.euclidean(coordinate_gt[58],coordinate_gt[60])) +
    #62
                (3*distance.euclidean(coordinate_gt[61],coordinate_gt[55])) +
                (9*distance.euclidean(coordinate_gt[61],coordinate_gt[64])) +
    #63
                (3*distance.euclidean(coordinate_gt[62],coordinate_gt[52])) +
                (4*distance.euclidean(coordinate_gt[62],coordinate_gt[67])) +
    #69
                (1*distance.euclidean(coordinate_gt[68],coordinate_gt[65])) +
                (17*distance.euclidean(coordinate_gt[68],coordinate_gt[70])) +
                (27*distance.euclidean(coordinate_gt[68],coordinate_gt[75])) +
    #70
                (13*distance.euclidean(coordinate_gt[69],coordinate_gt[67])) +
                (2*distance.euclidean(coordinate_gt[69],coordinate_gt[73])) +
    #72
                (4*distance.euclidean(coordinate_gt[71],coordinate_gt[66])) +
                (5*distance.euclidean(coordinate_gt[71],coordinate_gt[77])) +
    #73
                (6*distance.euclidean(coordinate_gt[72],coordinate_gt[64])) +
                (2*distance.euclidean(coordinate_gt[72],coordinate_gt[78])) +
    #75
                (6*distance.euclidean(coordinate_gt[74],coordinate_gt[76])) +
                (2*distance.euclidean(coordinate_gt[74],coordinate_gt[73])) +
    #76
                (2*distance.euclidean(coordinate_gt[75],coordinate_gt[80])) +
                (5*distance.euclidean(coordinate_gt[75],coordinate_gt[90])) +
    #80
                (3*distance.euclidean(coordinate_gt[79],coordinate_gt[3])) +
                (1*distance.euclidean(coordinate_gt[79],coordinate_gt[82])) +
    #82
                (64*distance.euclidean(coordinate_gt[81],coordinate_gt[84])) +
    #84 
                (3*distance.euclidean(coordinate_gt[83],coordinate_gt[77])) +
                (2*distance.euclidean(coordinate_gt[93],coordinate_gt[83])) +
                (4*distance.euclidean(coordinate_gt[83],coordinate_gt[98])) +
    #86
                (6*distance.euclidean(coordinate_gt[85],coordinate_gt[94])) +
    #89
                (2*distance.euclidean(coordinate_gt[88],coordinate_gt[86])) +
                (7*distance.euclidean(coordinate_gt[88],coordinate_gt[87])) +
    #90 
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[87])) +
                (5*distance.euclidean(coordinate_gt[89],coordinate_gt[91])) +
                (11*distance.euclidean(coordinate_gt[89],coordinate_gt[93])) +
    #97
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[94]))+
                (6*distance.euclidean(coordinate_gt[96],coordinate_gt[100]))+
    #100
                (7*distance.euclidean(coordinate_gt[99],coordinate_gt[97]))+
                (8*distance.euclidean(coordinate_gt[99],coordinate_gt[103]))+
    #102
                (12*distance.euclidean(coordinate_gt[101],coordinate_gt[90]))+
                (13*distance.euclidean(coordinate_gt[101],coordinate_gt[95]))+
    #105
                (1*distance.euclidean(coordinate_gt[104],coordinate_gt[100]))+
                (2*distance.euclidean(coordinate_gt[104],coordinate_gt[110]))+
    #108
                (11*distance.euclidean(coordinate_gt[106],coordinate_gt[102]))+
                (2*distance.euclidean(coordinate_gt[106],coordinate_gt[110]))+
    #110
                (2*distance.euclidean(coordinate_gt[108],coordinate_gt[105]))+
                (4*distance.euclidean(coordinate_gt[108],coordinate_gt[118]))+
    #113
                (10*distance.euclidean(coordinate_gt[111],coordinate_gt[107]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[113]))+
                (5*distance.euclidean(coordinate_gt[111],coordinate_gt[121]))+
    #116
                (10*distance.euclidean(coordinate_gt[114],coordinate_gt[112]))+
                (11*distance.euclidean(coordinate_gt[114],coordinate_gt[119]))+
    #117
                (1*distance.euclidean(coordinate_gt[115],coordinate_gt[109]))+
                (12*distance.euclidean(coordinate_gt[115],coordinate_gt[125]))+
                (2*distance.euclidean(coordinate_gt[115],coordinate_gt[136]))+
    #118
                (6*distance.euclidean(coordinate_gt[116],coordinate_gt[112]))+
                (5*distance.euclidean(coordinate_gt[116],coordinate_gt[122]))+
    #122
                (8*distance.euclidean(coordinate_gt[120],coordinate_gt[119]))+
                (10*distance.euclidean(coordinate_gt[120],coordinate_gt[123]))+
    #126
                (14*distance.euclidean(coordinate_gt[124],coordinate_gt[117]))+
    #128
                (14*distance.euclidean(coordinate_gt[126],coordinate_gt[128]))+
                (1*distance.euclidean(coordinate_gt[126],coordinate_gt[123]))+
                
    #129
                (2*distance.euclidean(coordinate_gt[127],coordinate_gt[118]))+
                (9*distance.euclidean(coordinate_gt[127],coordinate_gt[148]))+
                (22*distance.euclidean(coordinate_gt[127],coordinate_gt[147]))+
    #131
                (4*distance.euclidean(coordinate_gt[129],coordinate_gt[122]))+
                (8*distance.euclidean(coordinate_gt[129],coordinate_gt[133]))+
    #133
                (7*distance.euclidean(coordinate_gt[131],coordinate_gt[130]))+
                (48*distance.euclidean(coordinate_gt[131],coordinate_gt[134]))+
    #134
                (39*distance.euclidean(coordinate_gt[132],coordinate_gt[124]))+
                (17*distance.euclidean(coordinate_gt[132],coordinate_gt[145]))+
    #142
                (5*distance.euclidean(coordinate_gt[140],coordinate_gt[144]))+
    #143
                (13*distance.euclidean(coordinate_gt[141],coordinate_gt[137]))+
                (7*distance.euclidean(coordinate_gt[141],coordinate_gt[142]))+
                (16*distance.euclidean(coordinate_gt[141],coordinate_gt[146]))+
    #151
                (10*distance.euclidean(coordinate_gt[149],coordinate_gt[144]))+
    #153
                (17*distance.euclidean(coordinate_gt[151],coordinate_gt[146]))+
                (7*distance.euclidean(coordinate_gt[151],coordinate_gt[150]))+
                (5*distance.euclidean(coordinate_gt[151],coordinate_gt[152]))+
    #155
                (4*distance.euclidean(coordinate_gt[153],coordinate_gt[157]))+
    #156
                (8*distance.euclidean(coordinate_gt[154],coordinate_gt[152]))+
                (16*distance.euclidean(coordinate_gt[154],coordinate_gt[159]))+
    #163
                (1*distance.euclidean(coordinate_gt[161],coordinate_gt[160]))+
    #165
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[160]))+
                (4*distance.euclidean(coordinate_gt[163],coordinate_gt[165]))+
    #166
                (5*distance.euclidean(coordinate_gt[164],coordinate_gt[157]))+
                (6*distance.euclidean(coordinate_gt[164],coordinate_gt[162]))+
    #168
                (12*distance.euclidean(coordinate_gt[166],coordinate_gt[156]))+
                (30*distance.euclidean(coordinate_gt[166],coordinate_gt[158]))+
                (6*distance.euclidean(coordinate_gt[166],coordinate_gt[177]))+
    #170
                (15*distance.euclidean(coordinate_gt[168],coordinate_gt[169]))+
                (1*distance.euclidean(coordinate_gt[168],coordinate_gt[174]))+
    #172
                (8*distance.euclidean(coordinate_gt[170],coordinate_gt[173]))+
    #174
                (5*distance.euclidean(coordinate_gt[172],coordinate_gt[165]))+
                (18*distance.euclidean(coordinate_gt[172],coordinate_gt[171]))+
    #177
                (10*distance.euclidean(coordinate_gt[175],coordinate_gt[184]))+
    #178
                (11*distance.euclidean(coordinate_gt[176],coordinate_gt[158]))+
                (10*distance.euclidean(coordinate_gt[176],coordinate_gt[167]))+
                (12*distance.euclidean(coordinate_gt[176],coordinate_gt[181]))+
    #180
                (4*distance.euclidean(coordinate_gt[178],coordinate_gt[174]))+
                (10*distance.euclidean(coordinate_gt[178],coordinate_gt[186]))+
    #181
                (6*distance.euclidean(coordinate_gt[179],coordinate_gt[148]))+
    #187
                (9*distance.euclidean(coordinate_gt[185],coordinate_gt[155]))+
    #189
                (4*distance.euclidean(coordinate_gt[187],coordinate_gt[181]))+
                (13*distance.euclidean(coordinate_gt[187],coordinate_gt[182]))+
                (6*distance.euclidean(coordinate_gt[187],coordinate_gt[189]))+
    #190 
                (8*distance.euclidean(coordinate_gt[188],coordinate_gt[186]))+
                (11*distance.euclidean(coordinate_gt[188],coordinate_gt[192]))+
    #192
                (10*distance.euclidean(coordinate_gt[190],coordinate_gt[183]))+
                (3*distance.euclidean(coordinate_gt[190],coordinate_gt[200]))+
    #196
                (44*distance.euclidean(coordinate_gt[194],coordinate_gt[179]))+
                (3*distance.euclidean(coordinate_gt[194],coordinate_gt[204]))+
                (20*distance.euclidean(coordinate_gt[164],coordinate_gt[211]))+
    #197
                (7*distance.euclidean(coordinate_gt[195],coordinate_gt[191]))+
                (32*distance.euclidean(coordinate_gt[195],coordinate_gt[197]))+
                (38*distance.euclidean(coordinate_gt[195],coordinate_gt[199]))+
    #198 
                (2*distance.euclidean(coordinate_gt[196],coordinate_gt[206]))+
    #200
                (6*distance.euclidean(coordinate_gt[192],coordinate_gt[198]))+
                (41*distance.euclidean(coordinate_gt[198],coordinate_gt[205]))+
                
    #201
                (16*distance.euclidean(coordinate_gt[199],coordinate_gt[201]))+
                (12*distance.euclidean(coordinate_gt[199],coordinate_gt[202]))+
    #205
                (4*distance.euclidean(coordinate_gt[203],coordinate_gt[193]))+
                (11*distance.euclidean(coordinate_gt[203],coordinate_gt[213]))+
    #211
                (9*distance.euclidean(coordinate_gt[209],coordinate_gt[200]))+
                (6*distance.euclidean(coordinate_gt[209],coordinate_gt[218]))+
    #212
                (11*distance.euclidean(coordinate_gt[210],coordinate_gt[207]))+
                (17*distance.euclidean(coordinate_gt[210],coordinate_gt[215]))+
                (23*distance.euclidean(coordinate_gt[210],coordinate_gt[221]))+
    #214
                (37*distance.euclidean(coordinate_gt[212],coordinate_gt[208]))+
                (17*distance.euclidean(coordinate_gt[212],coordinate_gt[222]))+
                (4*distance.euclidean(coordinate_gt[212],coordinate_gt[236]))+
    #216
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[206]))+
                (3*distance.euclidean(coordinate_gt[214],coordinate_gt[226]))+
    #221
                (3*distance.euclidean(coordinate_gt[219],coordinate_gt[223]))+
    #222
                (11*distance.euclidean(coordinate_gt[220],coordinate_gt[227]))+
                (1*distance.euclidean(coordinate_gt[220],coordinate_gt[237]))+
    #226
                (4*distance.euclidean(coordinate_gt[224],coordinate_gt[213]))+
    #231
                (15*distance.euclidean(coordinate_gt[229],coordinate_gt[211]))+
                (12*distance.euclidean(coordinate_gt[229],coordinate_gt[217]))+
                (5*distance.euclidean(coordinate_gt[229],coordinate_gt[239]))+
    #232
                (7*distance.euclidean(coordinate_gt[230],coordinate_gt[228]))+
                (3*distance.euclidean(coordinate_gt[230],coordinate_gt[234]))+
    #233
                (14*distance.euclidean(coordinate_gt[231],coordinate_gt[221]))+
                (8*distance.euclidean(coordinate_gt[231],coordinate_gt[225]))+
                (3*distance.euclidean(coordinate_gt[231],coordinate_gt[233]))+
    #234
                (14*distance.euclidean(coordinate_gt[232],coordinate_gt[218]))+
    #241
                (5*distance.euclidean(coordinate_gt[238],coordinate_gt[226]))+
                (4*distance.euclidean(coordinate_gt[219],coordinate_gt[243]))+
    #244
                (7*distance.euclidean(coordinate_gt[241],coordinate_gt[239]))+
                (8*distance.euclidean(coordinate_gt[241],coordinate_gt[246]))+
    #247
                (9*distance.euclidean(coordinate_gt[243],coordinate_gt[252]))+
    #248
                (2*distance.euclidean(coordinate_gt[245],coordinate_gt[251]))+
    #251
                (10*distance.euclidean(coordinate_gt[248],coordinate_gt[243]))+
                (6*distance.euclidean(coordinate_gt[248],coordinate_gt[247]))+
    #253
                (12*distance.euclidean(coordinate_gt[250],coordinate_gt[240]))+
    #256
                (20*distance.euclidean(coordinate_gt[253],coordinate_gt[242]))+
                (7*distance.euclidean(coordinate_gt[253],coordinate_gt[249]))+
                (9*distance.euclidean(coordinate_gt[253],coordinate_gt[256]))+
    #257
                (4*distance.euclidean(coordinate_gt[254],coordinate_gt[251]))+
                (8*distance.euclidean(coordinate_gt[254],coordinate_gt[259]))+
    #258
                (4*distance.euclidean(coordinate_gt[255],coordinate_gt[252]))+
                (9*distance.euclidean(coordinate_gt[255],coordinate_gt[261]))+
    #260
                (56*distance.euclidean(coordinate_gt[257],coordinate_gt[250]))+
                (1*distance.euclidean(coordinate_gt[257],coordinate_gt[262]))+
    #261
                (7*distance.euclidean(coordinate_gt[258],coordinate_gt[256]))+
    #263
                (11*distance.euclidean(coordinate_gt[260],coordinate_gt[263]))+
                (2*distance.euclidean(coordinate_gt[260],coordinate_gt[258]))+
    #267
                (1568*distance.euclidean(coordinate_gt[264],coordinate_gt[265]))+
    #268
                (2133*distance.euclidean(coordinate_gt[265],coordinate_gt[264]))+
    #269
                (7*distance.euclidean(coordinate_gt[266],coordinate_gt[268]))+
    #270
                (14*distance.euclidean(coordinate_gt[267],coordinate_gt[259]))+
                (53*distance.euclidean(coordinate_gt[267],coordinate_gt[271]))+
    #272
                (1*distance.euclidean(coordinate_gt[269],coordinate_gt[276]))+
    #273
                (12*distance.euclidean(coordinate_gt[270],coordinate_gt[275]))+
    #274
                (2*distance.euclidean(coordinate_gt[271],coordinate_gt[272]))+
    #276
                (5*distance.euclidean(coordinate_gt[273],coordinate_gt[268]))+
                (7*distance.euclidean(coordinate_gt[273],coordinate_gt[279]))+
    #277
                (1*distance.euclidean(coordinate_gt[274],coordinate_gt[272]))+
                (5*distance.euclidean(coordinate_gt[274],coordinate_gt[277]))+
    #282
                (5*distance.euclidean(coordinate_gt[279],coordinate_gt[283]))+
    #284
                (7*distance.euclidean(coordinate_gt[281],coordinate_gt[277]))+
                (6*distance.euclidean(coordinate_gt[281],coordinate_gt[287])) +
    #285
                (9*distance.euclidean(coordinate_gt[283],coordinate_gt[278])) +
                (1*distance.euclidean(coordinate_gt[283],coordinate_gt[285])) +
    #287
                (44*distance.euclidean(coordinate_gt[285],coordinate_gt[280])) +
                (10*distance.euclidean(coordinate_gt[285],coordinate_gt[288])) +
    #289
                (3*distance.euclidean(coordinate_gt[286],coordinate_gt[283])) +
    #293
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[289])) +
                (10*distance.euclidean(coordinate_gt[290],coordinate_gt[291])) +
    #295
                (5*distance.euclidean(coordinate_gt[292],coordinate_gt[294])) +
    #296
                (5*distance.euclidean(coordinate_gt[293],coordinate_gt[287])) +
                (1*distance.euclidean(coordinate_gt[293],coordinate_gt[296])) +
    #298
                (2*distance.euclidean(coordinate_gt[295],coordinate_gt[294])) +
                (10*distance.euclidean(coordinate_gt[295],coordinate_gt[297])) +
    #301
                (8*distance.euclidean(coordinate_gt[298],coordinate_gt[300])) +
    #304 
                (6*distance.euclidean(coordinate_gt[301],coordinate_gt[299])) +
                (28*distance.euclidean(coordinate_gt[301],coordinate_gt[302])) +
                (7*distance.euclidean(coordinate_gt[301],coordinate_gt[304])) +
    #306
                (3*distance.euclidean(coordinate_gt[303],coordinate_gt[300])) +
                (4*distance.euclidean(coordinate_gt[303],coordinate_gt[305])) +
    #310
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[305])) +
                (1*distance.euclidean(coordinate_gt[307],coordinate_gt[309])) +
    #311
                (8*distance.euclidean(coordinate_gt[309],coordinate_gt[306])) +
    #313
                (2*distance.euclidean(coordinate_gt[310],coordinate_gt[306])) +
                (46*distance.euclidean(coordinate_gt[310],coordinate_gt[308])) +
                (10*distance.euclidean(coordinate_gt[310],coordinate_gt[312])) +
    #314
                (7*distance.euclidean(coordinate_gt[311],coordinate_gt[309])) +
                (1*distance.euclidean(coordinate_gt[311],coordinate_gt[313])) +
    #317
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[312])) +
                (8*distance.euclidean(coordinate_gt[314],coordinate_gt[313])) 
                )
            
                
mean_false_svm = error_svm/len(comp_table_SVM_false)
mean_false_svm,error_svm

(0.09074452362519385, 1569.3357915741024)

In [93]:
#mean error in total 
mean_error_svm = error_svm/len(y_test)
mean_error_svm

0.00419014709522362